* {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ebecf0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

div {
  outline: none;
}

#root {
  height: 100%;
  padding: 4.7vh 3.125vw 1vh 3.125vw;
}

.page-holder {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1920px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #root {
    padding: 2.61vw 3.125vw 1.1vw 3.125vw !important;
    background-blend-mode: soft-light, normal;
    -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
            box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
    border-radius: 2vw;
    height: 51vw;
    width: 90%;
    overflow: hidden;
  }
}

@media screen and (min-width: 2560px) {
  #root {
    height: 55vw;
  }
}

button, .white-button, .grey-button, .slide-button {
  cursor: pointer;
  outline: none;
}

.white-button {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
}

.white-button:hover {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #e4e5ec;
}

.white-button:active {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd, inset 0px 1px 3px #767e91;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd, inset 0px 1px 3px #767e91;
}

.grey-button {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #8a92a5;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
  border-radius: 13px;
  color: white;
  border: none;
  text-align: center;
}

.grey-button:hover {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0.6) 105.18%), #7d859a;
}

.grey-button:active {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #777f92;
  -webkit-box-shadow: -2px -2px 4px rgba(106, 114, 133, 0.348838), -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd, inset 1px 2px 6px #484e5d;
          box-shadow: -2px -2px 4px rgba(106, 114, 133, 0.348838), -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd, inset 1px 2px 6px #484e5d;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2% 0 3%;
}

header .logo {
  cursor: pointer;
}

header .logo img {
  width: 12.865vw;
  height: 6.76vh;
}

header .logo::before {
  margin-right: auto;
}

header nav {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 60%;
  height: 95%;
}

header nav .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

header nav .navigation-list-item {
  cursor: pointer;
  margin: 0 1vw;
}

header nav .navigation-list-item a {
  color: #6d7587;
  font-size: 1.15vw;
}

header nav .navigation-list-item:hover a {
  background: linear-gradient(239.57deg, #37dbe0 20.53%, #1758f1 79.85%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .lang-select {
  color: #6d7587;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.25vh;
  margin-left: 2%;
}

header .lang-select .lang {
  margin: 0 0.4rem;
  cursor: pointer;
}

header .lang-select .lang:hover {
  color: #1654f0;
}

@media (max-width: 1000px), (min-width: 1920px) {
  header .logo img {
    height: 3.8vw !important;
  }
  header nav {
    width: 62.5% !important;
  }
  header .lang-select {
    font-size: 1.25vw !important;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #6d7587;
  margin: auto 0 0 5vw;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer-content #copyright {
  height: 1.146vw;
  width: 1.146vw;
}

footer .footer-content #rights-text,
footer .footer-content p {
  font-size: 1.01vw;
}

footer .footer-content p {
  margin: 0;
  font-weight: 500;
  margin-left: 1.875vw;
}

footer .footer-content .footer-icons {
  width: 1.5625vw;
  height: 1.5625vw;
}

footer .footer-content .footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  margin: 0 2.1vw;
}

footer .footer-content #footer-stamp {
  width: 6.4vw;
  margin-left: 0.938vw;
}

.page-heading-holder > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-heading-holder .page-heading {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 2.22% 0 2% 0;
}

.page-heading-holder .page-heading h1 {
  color: #8a92a5;
  font-weight: 400;
  margin: 0;
  font-size: 4.51vh;
}

.page-heading-holder .heading-buttons a {
  margin: 0 0.73%;
}

.page-heading-holder .heading-buttons .heading-button {
  border-radius: 2vw;
  color: #6d7587;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4vw;
  height: 6.5vh;
  width: 16.15vw;
}

@media (max-width: 1000px), (min-width: 1920px) {
  .page-heading {
    margin: 2% 0 1.8% 0 !important;
  }
  .page-heading h1 {
    font-size: 2.5vw !important;
  }
  .heading-buttons .heading-button {
    font-size: 1.5vw !important;
    height: 3.2vw !important;
  }
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-section .left-items {
  margin: 5.2% 2.5vw 0 4.5vw;
}

.main-section .left-items img {
  position: relative;
  height: 32.963vh;
  width: 1.511vw;
}

.main-section .center-content {
  margin: 0 auto;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.main-section .center-content .main-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0.5% 0 1.5% 0.2%;
}

.main-section .center-content .main-heading h1 {
  font-weight: 500;
  color: #8a92a5;
  margin: 0;
  font-size: 4.1vh;
}

.main-section #center0 {
  overflow: hidden;
}

.main-section #right0 .next-button {
  margin-bottom: 2vh;
}

.main-section #right1 .next-button {
  margin-bottom: 35%;
}

.main-section .right-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1.39%;
}

.main-section .right-items .selector-buttons-group {
  margin-left: auto;
  position: relative;
  bottom: 20%;
}

.main-section .right-items .selector-buttons-group .selector-button-container .button-stroke .button {
  cursor: pointer;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
  margin: 0.53vw 0;
  width: 1.88vw !important;
  height: 1.88vw !important;
}

.main-section .right-items .selector-buttons-group .selector-button-container .button-stroke .button-dot {
  background-color: #8a92a5;
  border-radius: 100%;
  width: 0.63vw;
  height: 0.63vw;
}

.main-section .right-items .selector-buttons-group .button-clicked .button-stroke {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  z-index: -1;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;
          box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;
}

.main-section .right-items .selector-buttons-group .button-clicked .button-stroke .button {
  margin: auto !important;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0 !important;
  background-blend-mode: soft-light, normal !important;
  -webkit-box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;
          box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;
}

.main-section .right-items .selector-buttons-group .button-clicked .button-stroke .button-dot {
  width: 0.64vw !important;
  height: 0.63vw;
}

.main-section .right-items .next-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 22%;
  width: 3.65vw;
  height: 3.65vw;
}

.main-section .right-items .next-button svg {
  height: 1.0417vw;
  width: 0.678vw;
}

.main-section .right-items .next-button:hover svg path {
  fill: #1654f0;
}

@media (max-width: 1000px), (min-width: 1920px) {
  .left-items img {
    height: unset !important;
  }
  .center-content .main-heading h1 {
    font-size: 2.2vw !important;
  }
}

.news-slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.news-slider-container .news-item .news-image {
  width: 18.75vw;
}

.news-slider-container .news-item .news-info h6 {
  margin: 1.41vh 0 1.6vh 0;
  font-size: 1.5vw;
  font-weight: 500;
  color: #6d7587;
}

.news-slider-container .news-item .news-info p {
  margin: 0;
}

.news-slider-container .news-item .news-info img {
  width: 1.15vw;
  height: 1.15vw;
}

.news-slider .slider-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.1vh;
}

.news-slider .slider-buttons .slide-button {
  width: 0.7vw;
  height: 0.7vw;
  background-color: #848e9d;
  border-radius: 100%;
  margin-right: 0.47vw;
}

.news-slider .slider-buttons .slide-button:hover {
  background-color: #4d545e;
}

.news-slider .slider-buttons .active-slide {
  background-color: #4d545e;
}

@media (max-width: 1000px), (min-width: 1920px) {
  .news-slider-container .news-item .news-image {
    height: unset !important;
  }
  .news-slider-container .news-item .news-info h6 {
    margin: 0.8vw 0 0.9vw 0 !important;
  }
  .news-slider .slide-buttons {
    margin-top: 2.3vw !important;
  }
}

.widgets-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.widgets-row .widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
  border-radius: 2vw;
  width: 28.07%;
  height: 31.5vh;
  margin-right: 5.159%;
}

.widgets-row .widget-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4.7vh 2.35vw 2.9vh 2.35vw;
}

.widgets-row .widget-text {
  text-align: center;
  margin-top: 1.86vh;
}

.widgets-row .widget-text p {
  color: #4d545e;
  margin: 0;
  font-size: 1.35vw;
}

.widgets-row .widget-logo svg,
.widgets-row .widget-logo img {
  width: 7.917vw;
  height: 15.75vh;
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

.widgets-row .widget-logo svg path,
.widgets-row .widget-logo img path {
  fill: #4d545e;
}

.widgets-row .widget:hover .widget-logo svg path {
  fill: black;
}

.widgets-row .widget:hover .widget-logo img {
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1000px), (min-width: 1920px) {
  .widgets-row .widget {
    height: 17.71vw !important;
  }
  .widgets-row .widget-data {
    margin: 2.6vw 2.35vw 1.3vw 2.35vw;
  }
  .widgets-row .widget-logo svg {
    height: 8.855vw !important;
  }
  .widgets-row .widget-text {
    margin-top: 1.045vw;
  }
}

#news {
  padding: 1% 0 0 0;
}

#news .left-items img {
  height: unset !important;
}

#news .news-slider .news-img {
  height: 50%;
  overflow: hidden;
}

#news .news-slider .news-img img {
  position: relative;
  bottom: 25%;
}

#news .news-slider .news-info h6 {
  margin-bottom: 5% !important;
}

#news .news-slider .slider-buttons {
  margin-top: -3.5% !important;
}

#news .center-content {
  overflow: hidden;
}

#news .selector-buttons-group {
  display: none;
}

#news .next-button {
  margin: auto 0 !important;
}

#news .news-container {
  padding: 1% 0 0 0;
}

#news .news-container .main-heading {
  margin: 0 0 1% 0;
}

#news .news-container .news-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#news .news-container .news-data img {
  width: 23%;
  height: 24vh;
}

#news .news-container .news-data .news-text {
  width: 74%;
}

#news .news-container .news-data .news-text p {
  margin-bottom: 0;
  margin-top: 0.5%;
  font-weight: 500;
  color: #8a92a5;
  font-size: 0.82vw;
}

@media (min-width: 1920px) {
  #news {
    padding: 2% 0 0 0 !important;
  }
  #news .news-container {
    padding: 1.5% 0 0 0 !important;
  }
  #news .news-container .news-data img {
    width: 27%;
    height: unset !important;
  }
  #news .news-container .news-data .news-text {
    width: 70%;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1vh;
}

.contact-form-container {
  width: 89%;
  height: 100%;
}

.contact-form-container .form-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.contact-form-container .form-line .input-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 47.81%;
  height: 100%;
}

.contact-form-container .form-line label {
  color: #6d7587;
  font-weight: 500;
  font-size: 1.8vw;
  height: 30%;
}

.contact-form-container .form-line input {
  height: 6.8vh;
  margin: 1.9vh 0 2.2vh 0;
  width: 100%;
}

.contact-form-container .form-line textarea {
  width: 100%;
  height: 23.8vh;
  padding-top: 2vh;
}

.contact-form-container .form-line input,
.contact-form-container .form-line textarea {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd;
          box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd;
  border-radius: 2vw;
  resize: none;
  outline: none;
  font-size: 1.6vw;
  padding-left: 2.3vw;
}

.contact-form-container .form-line input::-webkit-input-placeholder,
.contact-form-container .form-line textarea::-webkit-input-placeholder {
  color: #6d7587;
}

.contact-form-container .form-line input:-ms-input-placeholder,
.contact-form-container .form-line textarea:-ms-input-placeholder {
  color: #6d7587;
}

.contact-form-container .form-line input::-ms-input-placeholder,
.contact-form-container .form-line textarea::-ms-input-placeholder {
  color: #6d7587;
}

.contact-form-container .form-line input::placeholder,
.contact-form-container .form-line textarea::placeholder {
  color: #6d7587;
}

.contact-form-container .form-line input:not(:focus), .contact-form-container .form-line input:focus,
.contact-form-container .form-line textarea:not(:focus),
.contact-form-container .form-line textarea:focus {
  color: #6d7587;
}

.contact-form-container .form-line input:focus::-webkit-input-placeholder,
.contact-form-container .form-line textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-form-container .form-line input:focus:-ms-input-placeholder,
.contact-form-container .form-line textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.contact-form-container .form-line input:focus::-ms-input-placeholder,
.contact-form-container .form-line textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.contact-form-container .form-line input:focus::placeholder,
.contact-form-container .form-line textarea:focus::placeholder {
  color: transparent;
}

.contact-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 11%;
  position: relative;
  left: 4%;
}

.contact-button button {
  font-weight: 600;
  text-align: center;
  font-size: 1.5vw;
  width: 100%;
  border-radius: 0.8vw;
  height: 23.9%;
}

#right2 .next-button {
  display: none;
}

@media (max-width: 1000px), (min-width: 1920px) {
  .contact-form-container input {
    height: 3.65vw !important;
    margin: 1.09vw 0 1.25vw 0 !important;
  }
  .contact-form-container textarea {
    height: 12.8vw !important;
    padding-top: 1.2vw !important;
  }
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 21vw;
  height: 24.23vh;
  margin: 3.7vh 1.05vw 0 1.05vw;
  border-radius: 2vw;
}

.products .product h6 {
  text-align: center;
  font-weight: 500;
  color: #4d545e;
  padding: 0 2.2vw;
  font-size: 1.4vw;
}

#products,
#product-page {
  margin: auto 0 !important;
}

#products .center-content,
#product-page .center-content {
  overflow: visible !important;
}

#products .main-section,
#product-page .main-section {
  margin: 2.5vw 0;
}

#products .selector-buttons-group,
#product-page .selector-buttons-group {
  display: none !important;
}

#products .left-items img,
#product-page .left-items img {
  height: unset;
}

#products .next-button,
#product-page .next-button {
  margin-top: auto;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-bottom: unset !important;
}

@media (max-width: 1000px), (min-width: 1920px) {
  #products .main-section {
    margin: 3vw 0 !important;
  }
  .products .product {
    height: 12.5vw !important;
    margin: 2.08vw 1.05vw 0 1.05vw !important;
  }
}

.product-container .product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4vh;
}

.product-container .product-content .product-img img {
  width: 24.9vw;
}

.product-container .product-content .product-text {
  font-weight: 500;
  color: #8a92a5;
  margin: 0 0 0 2.084vw;
}

.product-container .product-content .product-text p,
.product-container .product-content .product-text h6,
.product-container .product-content .product-text li {
  font-size: 0.9vw;
}

.product-container .product-content .product-text p {
  margin: 0;
}

.product-container .product-content .product-text h6 {
  margin: 1.5vh 0;
  font-weight: bold;
}

#customers-page {
  margin-top: 7%;
}

#customers-page .left-items {
  margin-top: auto !important;
}

#customers-page .right-items {
  display: none;
}

#customers-page .customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#customers-page .customers .map-container img {
  width: 53.5vw;
}

#customers-page .customers .companies-list {
  margin: 0 12% 0 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#customers-page .customers .companies-list .company-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#customers-page .customers .companies-list .company-item img {
  width: 3.13vw;
  margin: 0 1.045vw;
}

#customers-page .customers .companies-list .company-item h6 {
  font-weight: 500;
  color: #6d7587;
  margin: 0;
  font-size: 1.24vw;
}
/*# sourceMappingURL=style.css.map */