* {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ebecf0;
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

@media (max-width: 1440px) {
  body {
    padding: 20px 20px 10px 20px;
  }
}

@media (min-width: 1441px) {
  body {
    padding: 30px 40px 20px 40px;
  }
}

@media (min-width: 1920px) {
  body {
    padding: 50px 60px 40px 60px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  cursor: pointer;
}

header nav {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
  border-radius: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

header nav .navigation-list-item {
  cursor: pointer;
}

header nav .navigation-list-item a {
  color: #6d7587;
}

header nav .navigation-list-item a:active {
  color: linear-gradient(239.57deg, #37dbe0 20.53%, #1758f1 79.85%);
}

header nav .navigation-list-item:hover a {
  background: linear-gradient(239.57deg, #37dbe0 20.53%, #1758f1 79.85%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .lang-select {
  color: #6d7587;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .lang-select .lang {
  cursor: pointer;
}

@media (max-width: 1440px) {
  header .logo {
    margin-right: 35px;
  }
  header .logo img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  header nav {
    width: 745px;
    height: 60px;
  }
  header nav .navigation-list-item {
    margin: 0 15px;
  }
  header nav .navigation-list-item a {
    font-size: 16px;
    line-height: 20px;
  }
  header .lang-select {
    font-size: 16px;
    line-height: 18px;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    margin: 0 25px;
  }
  header .lang-select .lang {
    margin: 0 5px;
  }
}

@media (min-width: 1441px) and (max-width: 1599px) {
  header .logo {
    margin-right: 40px;
  }
  header .logo img {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  header nav {
    width: 850px;
    height: 60px;
  }
  header nav .navigation-list-item {
    margin: 0 20px;
  }
  header nav .navigation-list-item a {
    font-size: 18px;
    line-height: 24px;
  }
  header .lang-select {
    font-size: 18px;
    line-height: 20px;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin: 0 15px;
  }
  header .lang-select .lang {
    margin: 0 5px;
  }
}

@media (min-width: 1600px) {
  header .logo {
    margin-right: 55px;
  }
  header nav {
    width: 1071px;
    height: 73px;
    margin: 0 40px;
  }
  header nav .navigation-list-item {
    margin: 0 20px;
  }
  header nav .navigation-list-item a {
    font-size: 24px;
    line-height: 29px;
  }
  header .lang-select {
    font-size: 24px;
    line-height: 29px;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    margin: 0 20px;
  }
  header .lang-select .lang {
    margin: 0 15px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #6d7587;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer-content p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

footer .footer-content .footer-icons {
  width: 22px;
  height: 22px;
}

footer .footer-content .footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

@media (max-width: 1440px) {
  footer {
    margin: 85px 0 0 95px;
  }
  footer .footer-content #copyright {
    width: 14px;
    height: 14px;
  }
  footer .footer-content #rights-text {
    font-size: 13px;
    line-height: 14px;
  }
  footer .footer-content .footer-col {
    margin-left: 30px;
  }
  footer .footer-content .footer-col .footer-text {
    font-size: 18px;
    line-height: 20px;
    margin: 0 15px;
  }
  footer .footer-content .footer-col #footer-stamp {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (min-width: 1441px) and (max-width: 1799px) {
  footer {
    margin: 85px 0 0 95px;
  }
  footer .footer-content #copyright {
    width: 16px;
    height: 16px;
  }
  footer .footer-content #rights-text {
    font-size: 15px;
    line-height: 16px;
  }
  footer .footer-content .footer-col {
    margin-left: 60px;
  }
  footer .footer-content .footer-col .footer-text {
    font-size: 20px;
    line-height: 24px;
    margin: 0 25px;
  }
}

@media (min-width: 1800px) {
  footer {
    margin: 85px 0 0 95px;
  }
  footer .footer-content #copyright {
    width: 22px;
    height: 22px;
  }
  footer .footer-content #rights-text {
    font-size: 20px;
    line-height: 24px;
  }
  footer .footer-content .footer-col {
    margin-left: 60px;
  }
  footer .footer-content .footer-col .footer-text {
    font-size: 20px;
    line-height: 24px;
    margin: 0 25px;
  }
}

.page-heading-holder > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-heading-holder .page-heading {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.page-heading-holder .page-heading h1 {
  color: #8a92a5;
  font-weight: 400;
  margin-top: unset !important;
  margin-bottom: 5px !important;
}

.page-heading-holder .heading-buttons .heading-button {
  cursor: pointer;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
  border-radius: 47px;
  color: #6d7587;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1440px) {
  .page-heading {
    margin: 40px 0;
  }
  .page-heading h1 {
    font-size: 35px;
    line-height: 43px;
  }
  .heading-buttons .heading-button {
    width: 240px;
    height: 45px;
    font-size: 20px;
    line-height: 25px;
    margin: 0 10px;
  }
}

@media (min-width: 1441px) and (max-width: 1799px) {
  .page-heading {
    margin: 30px 0;
  }
  .page-heading h1 {
    font-size: 40px;
    line-height: 48px;
  }
  .heading-buttons .heading-button {
    width: 270px;
    height: 55px;
    font-size: 24px;
    line-height: 30px;
    margin: 0 15px;
  }
}

@media (min-width: 1800px) {
  .page-heading {
    margin: 40px 0;
  }
  .page-heading h1 {
    font-size: 50px;
    line-height: 61px;
  }
  .heading-buttons .heading-button {
    width: 310px;
    height: 70px;
    padding: 0;
    font-size: 30px;
    line-height: 37px;
    margin: 0 25px;
  }
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-section .left-items {
  position: relative;
}

.main-section .left-items img {
  position: relative;
  cursor: pointer;
}

.main-section .center-content .main-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-section .center-content .main-heading h1 {
  font-weight: 500;
  color: #8a92a5;
  margin: 0;
}

.main-section .right-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-section .right-items .selector-buttons-group {
  margin-left: auto;
  position: relative;
}

.main-section .right-items .selector-buttons-group .selector-button-container .button-stroke .button {
  cursor: pointer;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
  margin: 10px 0;
}

.main-section .right-items .selector-buttons-group .selector-button-container .button-stroke .button-dot {
  background-color: #8a92a5;
  border-radius: 100%;
}

.main-section .right-items .selector-buttons-group .button-clicked .button-stroke {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;
          box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;
}

.main-section .right-items .selector-buttons-group .button-clicked .button-stroke .button {
  margin: auto !important;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0 !important;
  background-blend-mode: soft-light, normal !important;
  -webkit-box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;
          box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;
}

.main-section .right-items .next-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
  border-radius: 13px;
}

@media (max-width: 1440px) {
  .main-section .left-items {
    top: 60px;
  }
  .main-section .left-items img {
    top: 60px;
    margin: 55px 0 0 50px;
    width: 20px;
    height: 260px;
  }
  .main-section .center-content .main-heading {
    margin: 45px 0 30px 30px;
  }
  .main-section .center-content .main-heading h1 {
    font-size: 34px;
    line-height: 40px;
  }
  .main-section .right-items .selector-buttons-group {
    bottom: 73px;
  }
  .main-section .right-items .selector-buttons-group .selector-button-container .button-stroke .button {
    width: 26px;
    height: 26px;
    margin: 10px 0;
  }
  .main-section .right-items .selector-buttons-group .selector-button-container .button-stroke .button-dot {
    width: 9px;
    height: 9px;
  }
  .main-section .right-items .selector-buttons-group .button-clicked .button-dot {
    width: 10px !important;
  }
  .main-section .next-button {
    width: 50px;
    height: 50px;
  }
  .main-section .next-button img {
    width: 9px;
    height: 15px;
  }
}

@media (min-width: 1440px) and (max-width: 1699px) {
  .main-section .left-items {
    top: 90px;
  }
  .main-section .left-items img {
    top: 90px;
    margin: 55px 25px 0 30px;
    width: 24px;
    height: 280px;
  }
  .main-section .center-content .main-heading {
    margin: 55px 0 35px 25px;
  }
  .main-section .center-content .main-heading h1 {
    font-size: 40px;
    line-height: 48px;
  }
  .main-section .right-items .selector-buttons-group {
    bottom: 73px;
  }
  .main-section .right-items .selector-buttons-group .selector-button-container .button-stroke .button {
    width: 30px;
    height: 30px;
    margin: 10px 0;
  }
  .main-section .right-items .selector-buttons-group .selector-button-container .button-stroke .button-dot {
    width: 10px;
    height: 10px;
  }
  .main-section .right-items .selector-buttons-group .button-clicked .button-dot {
    width: 11px !important;
  }
  .main-section .next-button {
    width: 60px;
    height: 60px;
  }
  .main-section .next-button img {
    width: 14px;
    height: 23px;
  }
}

@media (min-width: 1700px) {
  .main-section .left-items {
    top: 90px;
  }
  .main-section .left-items img {
    top: 70px;
    margin: 55px 0px 0 30px;
    width: 29px;
    height: 356px;
  }
  .main-section .center-content .main-heading {
    margin: 55px 0 35px 40px;
  }
  .main-section .center-content .main-heading h1 {
    font-size: 48px;
    line-height: 59px;
  }
  .main-section .right-items {
    margin-left: 25px;
  }
  .main-section .right-items .selector-buttons-group {
    bottom: 73px;
  }
  .main-section .right-items .selector-buttons-group .selector-button-container .button-stroke .button {
    width: 36px;
    height: 36px;
    margin: 10px 0;
  }
  .main-section .right-items .selector-buttons-group .selector-button-container .button-stroke .button-dot {
    width: 12px;
    height: 12px;
  }
  .main-section .right-items .selector-buttons-group .button-clicked .button-dot {
    width: 13px !important;
  }
  .main-section .next-button {
    width: 70px;
    height: 70px;
  }
  .main-section .next-button img {
    width: 17px;
    height: 26px;
  }
}

.page-widgets .widgets-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.page-widgets .widgets-row .widget {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
  border-radius: 47px;
}

.page-widgets .widgets-row .widget-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.page-widgets .widgets-row .widget-text {
  text-align: center;
}

.page-widgets .widgets-row .widget-text p {
  margin: 0;
}

.page-widgets .widgets-row .widget-logo img:hover svg path {
  fill: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), #1654f0;
}

@media (max-width: 1440px) {
  .widgets-row .widget {
    width: 320px;
    height: 230px;
    margin: 0 25px;
  }
  .widgets-row .widget-data {
    padding: 10px 15px 10px 15px;
  }
  .widgets-row .widget-logo img {
    width: 110px;
    height: 131px;
  }
  .widgets-row .widget-text {
    margin: 10px 0;
  }
  .widgets-row .widget-text p {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: 1441px) and (max-width: 1649px) {
  .widgets-row .widget {
    width: 370px;
    height: 280px;
    margin: 0 20px;
  }
  .widgets-row .widget-data {
    padding: 20px 25px 20px 25px;
  }
  .widgets-row .widget-logo img {
    width: 130px;
    height: 151px;
  }
  .widgets-row .widget-text {
    margin: 15px 0;
  }
  .widgets-row .widget-text p {
    font-size: 22px;
    line-height: 28px;
  }
}

@media (min-width: 1650px) {
  .widgets-row .widget {
    width: 430px;
    height: 340px;
    margin: 0 30px;
  }
  .widgets-row .widget-data {
    padding: 40px 45px 30px 45px;
  }
  .widgets-row .widget-logo img {
    width: 166px;
    height: 181px;
  }
  .widgets-row .widget-text {
    margin: 20px 0;
  }
  .widgets-row .widget-text p {
    font-size: 26px;
    line-height: 32px;
  }
}
/*# sourceMappingURL=style.css.map */