@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../../fonts/Montserrat-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../../fonts/Montserrat-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../../fonts/Montserrat-Medium.otf");
  font-weight: 500 !important;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../../fonts/Montserrat-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../../fonts/Montserrat-Bold.otf");
  font-weight: 700;
}

* {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ebecf0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

div {
  outline: none;
}

#root {
  height: 100%;
}

.page-holder {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4.7vh 3.125vw 1vh 3.125vw;
}

.go-back {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3% 0 0 0;
  cursor: pointer;
}

.go-back p {
  margin: 0 0 0 0.5vw;
}

.go-back:hover p {
  text-decoration: underline;
}

.page-path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #8a92a5;
}

.page-path a {
  cursor: pointer;
}

.page-path a:hover {
  text-decoration: underline;
}

.page-path a,
.page-path span {
  font-size: 1.3vw;
  color: #8a92a5;
}

.page-path span {
  margin: 0 1%;
}

@media screen and (min-width: 1920px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #root {
    background-blend-mode: soft-light, normal;
    -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
            box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
    border-radius: 2vw;
    height: 51vw;
    width: 90%;
    overflow: hidden;
  }
  body #root .page-holder {
    padding: 2.61vw 3.125vw 1.1vw 3.125vw !important;
  }
}

@media screen and (min-width: 2560px) {
  #root {
    height: 55vw;
  }
}

.slider-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.1vh;
}

.slider-buttons .slide-button {
  width: 0.7vw;
  height: 0.7vw;
  background-color: #848e9d;
  border-radius: 100%;
  margin-right: 0.47vw;
}

.slider-buttons .slide-button:hover {
  background-color: #4d545e;
}

.slider-buttons .active-slide {
  background-color: #4d545e;
}

@media (max-width: 1000px), (min-width: 1920px) {
  .slide-buttons {
    margin-top: 2.3vw !important;
  }
}

button,
.white-button,
.grey-button,
.slide-button {
  cursor: pointer;
  outline: none;
}

.white-button {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
}

.white-button:hover {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #e4e5ec !important;
}

.white-button:active {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd, inset 0px 1px 3px #767e91;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd, inset 0px 1px 3px #767e91;
}

.grey-button {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #8a92a5;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
  border-radius: 0.7vw;
  color: white;
  font-weight: 600;
  border: none;
  text-align: center;
}

.grey-button:hover {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0.6) 105.18%), #7d859a;
}

.grey-button:active {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #777f92;
  -webkit-box-shadow: -2px -2px 4px rgba(106, 114, 133, 0.348838), -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd, inset 1px 2px 6px #484e5d;
          box-shadow: -2px -2px 4px rgba(106, 114, 133, 0.348838), -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd, inset 1px 2px 6px #484e5d;
}

.square-button,
.round-button,
.add-comment-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.square-button {
  border-radius: 22%;
  width: 3.65vw;
  height: 3.65vw;
}

.round-button {
  border-radius: 100%;
  width: 2.5vw;
  height: 2.5vw;
}

.form-input {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd;
          box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd;
  border-radius: 2vw;
  resize: none;
  outline: none;
}

.form-input::-webkit-input-placeholder {
  color: #6d7587;
}

.form-input:-ms-input-placeholder {
  color: #6d7587;
}

.form-input::-ms-input-placeholder {
  color: #6d7587;
}

.form-input::placeholder {
  color: #6d7587;
}

.form-input:not(:focus), .form-input:focus {
  color: #6d7587;
  font-size: 1.1vw;
}

.form-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-input:focus:-ms-input-placeholder {
  color: transparent;
}

.form-input:focus::-ms-input-placeholder {
  color: transparent;
}

.form-input:focus::placeholder {
  color: transparent;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 3%;
}

header .logo {
  cursor: pointer;
}

header .logo img {
  width: 12.865vw;
  height: 6.76vh;
}

header .logo::before {
  margin-right: auto;
}

header nav {
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 60%;
  height: 60%;
}

header nav .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

header nav .navigation-list-item {
  cursor: pointer;
  margin: 0 1vw;
}

header nav .navigation-list-item p {
  color: #6d7587;
  font-size: 1.15vw;
  font-weight: 400;
}

header nav .navigation-list-item:hover p {
  background: linear-gradient(239.57deg, #37dbe0 20.53%, #1758f1 79.85%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .header-buttons {
  margin-left: auto;
  width: 9%;
}

header .header-buttons .auth-button {
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5vw;
  margin: 0.8vw 0 1vw 0;
  border-radius: 2vw;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
}

header .header-buttons .auth-button .icon-holder {
  border-radius: 100%;
  height: 100%;
  width: 34%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #777f92;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -2px -2px 4px rgba(106, 114, 133, 0.348838), -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd, inset 1px 2px 6px #484e5d;
          box-shadow: -2px -2px 4px rgba(106, 114, 133, 0.348838), -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd, inset 1px 2px 6px #484e5d;
}

header .header-buttons .auth-button .icon-holder img {
  width: 1.2vw;
  height: 1.2vw;
}

header .header-buttons .auth-button p {
  margin: 0 auto;
  color: #4d545e;
  font-size: 1vw;
  font-weight: 400;
}

header .header-buttons .lang-select {
  color: #6d7587;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.25vh;
  margin-left: 2%;
}

header .header-buttons .lang-select .lang {
  margin: 0 0.4rem;
  cursor: pointer;
}

header .header-buttons .lang-select .lang:hover {
  color: #1654f0;
}

@media (max-width: 1000px), (min-width: 1920px) {
  header .logo img {
    height: 3.8vw !important;
  }
  header nav {
    width: 62.5% !important;
  }
  header .lang-select {
    font-size: 1vw !important;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #6d7587;
  margin: auto 0 0 5vw;
}

footer #copyright {
  height: 1.146vw;
  width: 1.146vw;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer-content #rights-text,
footer .footer-content p {
  font-size: 1.01vw;
}

footer .footer-content p {
  margin: 0;
  font-weight: 500;
  margin-left: 1.875vw;
}

footer .footer-content .footer-icons {
  width: 1.5625vw;
  height: 1.5625vw;
}

footer .footer-content .footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  margin: 0 2.1vw;
}

footer .footer-content #footer-stamp {
  width: 6.4vw;
  margin-left: 0.938vw;
}

.page-heading-holder > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-heading-holder .page-heading {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 2% 0;
}

.page-heading-holder .page-heading h1 {
  color: #8a92a5;
  font-weight: 400;
  margin: 0;
  font-size: 4.51vh;
}

.page-heading-holder .heading-buttons a {
  margin: 0 0.73%;
}

.page-heading-holder .heading-buttons .heading-button {
  border-radius: 2vw;
  color: #6d7587;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4vw;
  height: 6.5vh;
  width: 16.15vw;
}

@media (max-width: 1000px), (min-width: 1920px) {
  .page-heading {
    margin: 2% 0 1.8% 0 !important;
  }
  .page-heading h1 {
    font-size: 2.5vw !important;
  }
  .heading-buttons .heading-button {
    font-size: 1.5vw !important;
    height: 3.2vw !important;
  }
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-section .left-items {
  margin: 4.5% 2.5vw 0 4.5vw;
}

.main-section .left-items img {
  position: relative;
  height: 32.963vh;
  width: 1.511vw;
}

.main-section .center-content {
  margin: 0 auto;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.main-section .center-content .main-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0.5% 0 1.5% 0.2%;
}

.main-section .center-content .main-heading h1 {
  font-weight: 500;
  color: #8a92a5;
  margin: 0;
  font-size: 4.1vh;
}

.main-section #center0 {
  overflow: hidden;
}

.main-section #right1 .next-button {
  margin-bottom: 1.5vw;
}

.main-section .right-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1.39%;
}

.main-section .right-items .selector-buttons-group {
  position: relative;
  bottom: 4.5vw;
}

.main-section .right-items .selector-buttons-group .selector-button-container {
  margin: 0.53vw 0;
}

.main-section .right-items .selector-buttons-group .selector-button-container .button-stroke .button {
  cursor: pointer;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
  width: 1.88vw !important;
  height: 1.88vw !important;
}

.main-section .right-items .selector-buttons-group .selector-button-container .button-stroke .button-dot {
  background-color: #8a92a5;
  border-radius: 100%;
  width: 0.63vw;
  height: 0.63vw;
}

.main-section .right-items .selector-buttons-group .button-clicked .button-stroke {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  z-index: -1;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;
          box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;
}

.main-section .right-items .selector-buttons-group .button-clicked .button-stroke .button {
  margin: auto !important;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0 !important;
  background-blend-mode: soft-light, normal !important;
  -webkit-box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;
          box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;
}

.main-section .right-items .selector-buttons-group .button-clicked .button-stroke .button-dot {
  width: 0.64vw !important;
  height: 0.63vw;
}

.main-section .right-items .next-button svg {
  height: 1.0417vw;
  width: 0.678vw;
}

.main-section .right-items .next-button:hover svg path {
  fill: #1654f0;
}

@media (max-width: 1000px), (min-width: 1920px) {
  .left-items img {
    height: unset !important;
  }
  .center-content .main-heading h1 {
    font-size: 2.2vw !important;
  }
  #right1 .next-button {
    margin-bottom: 2vw !important;
  }
}

.news-slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.news-slider-container .news-item {
  -webkit-transition: all 3s ease-out;
  transition: all 3s ease-out;
  cursor: pointer;
}

.news-slider-container .news-item .news-image {
  width: 18.75vw;
  height: 11vw;
}

.news-slider-container .news-item .news-info h6 {
  margin: 1vh 0 1.2vh 0;
  font-size: 1.4vw;
  font-weight: 500;
  color: #6d7587;
}

.news-slider-container .news-item .news-info p {
  margin: 0;
}

.news-slider-container .news-item .news-info img {
  width: 1.1vw;
}

@media (max-width: 1000px), (min-width: 1920px) {
  .news-slider-container .news-item .news-image {
    height: unset !important;
  }
  .news-slider-container .news-item .news-info h6 {
    margin: 0.8vw 0 0.9vw 0 !important;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contact-form-container {
  width: 89%;
  height: 100%;
}

.contact-form-container .form-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.contact-form-container .form-line .input-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 47.81%;
  height: 100%;
}

.contact-form-container .form-line label {
  color: #6d7587;
  font-weight: 500;
  font-size: 1.7vw;
  height: 30%;
  margin-bottom: unset !important;
  margin-left: unset !important;
}

.contact-form-container .form-line input {
  height: 6.8vh;
  margin: 1.9vh 0 2.2vh 0;
  width: 100%;
}

.contact-form-container .form-line textarea {
  width: 100%;
  height: 22vh;
  padding-top: 2vh;
}

.contact-form-container .form-line input,
.contact-form-container .form-line textarea {
  font-size: 1.5vw;
  padding-left: 2.3vw;
}

.contact-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 11%;
  position: relative;
  left: 4%;
}

.contact-button button {
  font-weight: 600;
  text-align: center;
  font-size: 1.5vw;
  width: 100%;
  border-radius: 0.8vw;
  height: 23.9%;
}

@media (max-width: 1000px), (min-width: 1920px) {
  .contact-form-container input {
    height: 3.65vw !important;
    margin: 1.09vw 0 1.25vw 0 !important;
  }
  .contact-form-container textarea {
    height: 11.2vw !important;
    padding-top: 1.2vw !important;
  }
}

.widgets-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.widgets-row .widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
  border-radius: 2vw;
  width: 28.07%;
  height: 34vh;
  margin-right: 5.159%;
}

.widgets-row .widget-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4.7vh 2.35vw 2.9vh 2.35vw;
}

.widgets-row .widget-text {
  text-align: center;
  margin-top: 1.86vh;
}

.widgets-row .widget-text p {
  color: #4d545e;
  margin: 0;
  font-size: 1.35vw;
  font-weight: 400;
}

.widgets-row .widget-logo svg,
.widgets-row .widget-logo img {
  width: 7.917vw;
  height: 15.75vh;
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

.widgets-row .widget-logo svg path,
.widgets-row .widget-logo img path {
  fill: #4d545e;
}

.widgets-row .widget:hover .widget-logo svg path {
  fill: black;
}

.widgets-row .widget:hover .widget-logo img {
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1000px), (min-width: 1920px) {
  .widgets-row .widget {
    height: 17.71vw !important;
  }
  .widgets-row .widget-data {
    margin: 2.6vw 2.35vw 1.3vw 2.35vw;
  }
  .widgets-row .widget-logo svg {
    height: 8.855vw !important;
  }
  .widgets-row .widget-text {
    margin-top: 1.045vw;
  }
}

#news {
  padding: 1% 0 0 0;
}

#news .left-items img {
  height: unset !important;
}

#news .news-slider .news-img {
  height: 50%;
  overflow: hidden;
}

#news .news-slider .news-img img {
  position: relative;
  bottom: 25%;
}

#news .news-slider .news-info h6 {
  margin-bottom: 5% !important;
}

#news .news-slider .slider-buttons {
  margin-top: -3.5% !important;
}

#news .center-content {
  overflow: hidden;
}

#news .next-button {
  margin: auto 0 !important;
}

#news .news-container {
  padding: 1% 0 0 0;
}

#news .news-container .main-heading {
  margin: 0 0 1% 0;
}

#news .news-container .news-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#news .news-container .news-data img {
  width: 23%;
  height: 24vh;
}

#news .news-container .news-data .news-text {
  width: 74%;
  height: 11.6vw;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

#news .news-container .news-data .news-text::-webkit-scrollbar {
  width: 0.5vw;
}

#news .news-container .news-data .news-text::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2vw;
}

#news .news-container .news-data .news-text::-webkit-scrollbar-thumb {
  background: #8a92a5;
  border-radius: 2vw;
}

#news .news-container .news-data .news-text::-webkit-scrollbar-thumb:hover {
  background: #4d545e;
}

#news .news-container .news-data .news-text p {
  margin-bottom: 0;
  margin-top: 0.5%;
  font-weight: 500;
  color: #8a92a5;
  font-size: 0.82vw;
}

@media (min-width: 1920px) {
  #news {
    padding: 2% 0 0 0 !important;
  }
  #news .news-container {
    padding: 1.5% 0 0 0 !important;
  }
  #news .news-container .news-data img {
    width: 27%;
    height: unset !important;
  }
  #news .news-container .news-data .news-text {
    width: 70%;
  }
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 21vw;
  height: 24.23vh;
  margin: 3.7vh 1.05vw 0 1.05vw;
  border-radius: 2vw;
}

.products .product h6 {
  text-align: center;
  font-weight: 500;
  color: #4d545e;
  padding: 0 2.2vw;
  font-size: 1.4vw;
}

#products,
#product-page {
  margin: auto 0 !important;
}

#products .center-content,
#product-page .center-content {
  overflow: visible !important;
}

#products .main-section,
#product-page .main-section {
  margin: 2.5vw 0;
}

#products .left-items img,
#product-page .left-items img {
  height: unset;
}

#products .next-button,
#product-page .next-button {
  margin-top: auto;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-bottom: unset !important;
}

@media (max-width: 1000px), (min-width: 1920px) {
  #products .main-section {
    margin: 3vw 0 !important;
  }
  .products .product {
    height: 12.5vw !important;
    margin: 2.08vw 1.05vw 0 1.05vw !important;
  }
}

.product-container .product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4vh;
}

.product-container .product-content .product-img img {
  width: 24.9vw;
}

.product-container .product-content .product-text {
  font-weight: 500;
  color: #8a92a5;
  margin: 0 0 0 2.084vw;
  height: 24vw;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.product-container .product-content .product-text::-webkit-scrollbar {
  width: 0.5vw;
}

.product-container .product-content .product-text::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2vw;
}

.product-container .product-content .product-text::-webkit-scrollbar-thumb {
  background: #8a92a5;
  border-radius: 2vw;
}

.product-container .product-content .product-text::-webkit-scrollbar-thumb:hover {
  background: #4d545e;
}

.product-container .product-content .product-text p,
.product-container .product-content .product-text h6,
.product-container .product-content .product-text li {
  font-size: 0.9vw;
}

.product-container .product-content .product-text p {
  margin: 0;
}

.product-container .product-content .product-text h6 {
  margin: 1.5vh 0;
  font-weight: bold;
}

#customers-page {
  margin-top: 5%;
}

#customers-page .left-items {
  margin-top: auto !important;
}

#customers-page .customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#customers-page .customers .map-container {
  width: 100%;
}

#customers-page .customers .map-container img {
  position: absolute;
  width: 53.5vw;
}

#customers-page .customers .map-container .companies-pins {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}

#customers-page .customers .map-container .companies-pins .company-pin {
  position: relative;
  width: 0.4vw;
  height: 0.4vw;
  border-radius: 100%;
  background-color: #4d545e;
  cursor: pointer;
}

#customers-page .customers .map-container .companies-pins .company-pin:hover {
  -webkit-box-shadow: 0.1vw 0.05vw 0.5vw 0.4vw rgba(231, 231, 231, 0.49);
          box-shadow: 0.1vw 0.05vw 0.5vw 0.4vw rgba(231, 231, 231, 0.49);
}

#customers-page .customers .companies-list {
  margin: 0 9% 0 7%;
  width: 33%;
  overflow-y: scroll;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

#customers-page .customers .companies-list::-webkit-scrollbar {
  width: 0.5vw;
}

#customers-page .customers .companies-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2vw;
}

#customers-page .customers .companies-list::-webkit-scrollbar-thumb {
  background: #8a92a5;
  border-radius: 2vw;
}

#customers-page .customers .companies-list::-webkit-scrollbar-thumb:hover {
  background: #4d545e;
}

#customers-page .customers .companies-list .company-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 19%;
  width: 100%;
  margin: 0 0 2% 0;
  cursor: pointer;
}

#customers-page .customers .companies-list .company-item img,
#customers-page .customers .companies-list .company-item svg {
  width: 3.2vw;
  margin: 0 0.8vw;
}

#customers-page .customers .companies-list .company-item svg {
  height: 3.2vw;
}

#customers-page .customers .companies-list .company-item h6 {
  font-weight: 500;
  color: #6d7587;
  margin: 0;
  font-size: 1.2vw;
}

#customers-page .customers .companies-list .company-item:hover {
  background-color: rgba(174, 176, 179, 0.185);
}

#customers-page .customers .companies-list .active-company {
  background-color: #061f5f3b;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media (min-width: 1920px) {
  #customers-page .customers .companies-list {
    margin: 0 0 0 4%;
  }
}

#reviews {
  padding: 2vh 0 0 0;
  height: 100%;
}

#reviews .left-items img {
  height: unset;
}

#reviews .main-section {
  height: 97%;
  min-height: 33.2vw;
}

#reviews .right-items {
  -webkit-box-orient: unset !important;
  -webkit-box-direction: unset !important;
      -ms-flex-direction: unset !important;
          flex-direction: unset !important;
}

#reviews .reviews {
  padding-right: 10vw;
}

#reviews .reviews .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 0;
}

#reviews .reviews .review-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 2%;
}

#reviews .reviews .review-quote .square-button img {
  width: 1.355vw;
}

#reviews .reviews .review-content .review-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6d7587;
}

#reviews .reviews .review-content .review-user-info .user-info-img img {
  height: 3.3335vw;
}

#reviews .reviews .review-content .review-user-info .user-info-data {
  margin-left: 2%;
}

#reviews .reviews .review-content .review-user-info .user-info-data h2,
#reviews .reviews .review-content .review-user-info .user-info-data h6 {
  margin: 0;
}

#reviews .reviews .review-content .review-user-info .user-info-data h2 {
  font-weight: 700;
  font-size: 1.05vw;
}

#reviews .reviews .review-content .review-user-info .user-info-data h6 {
  font-weight: 500;
  font-size: 0.85vw;
}

#reviews .reviews .review-content .review-text {
  height: 5.6vw;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

#reviews .reviews .review-content .review-text::-webkit-scrollbar {
  width: 0.5vw;
}

#reviews .reviews .review-content .review-text::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2vw;
}

#reviews .reviews .review-content .review-text::-webkit-scrollbar-thumb {
  background: #8a92a5;
  border-radius: 2vw;
}

#reviews .reviews .review-content .review-text::-webkit-scrollbar-thumb:hover {
  background: #4d545e;
}

#reviews .reviews .review-content .review-text p {
  color: #8a92a5;
  font-weight: 500;
  font-size: 0.8vw;
  margin: 1% 0 0 0;
}

@media (min-width: 1920px) {
  #reviews {
    padding: 3vh 0 0 0;
  }
  #reviews .reviews {
    padding-right: 4vw;
  }
  #reviews .reviews .review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2% 0;
  }
}

#contacts {
  height: 100%;
}

#contacts .main-section {
  height: 100%;
}

#contacts .main-section .center-content {
  overflow: visible;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contacts .main-section .left-items {
  margin: auto 2.5vw auto 4.5vw !important;
}

#contacts .main-section .left-items img {
  height: unset;
}

#contacts .contacts-holder {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacts .contacts-holder .contact-info {
  width: 28%;
}

#contacts .contacts-holder .contact-info .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15% 0;
}

#contacts .contacts-holder .contact-info .contact-item img {
  width: 1.2vw;
  height: 1.2vw;
}

#contacts .contacts-holder .contact-info .contact-item p {
  font-size: 1vw;
  margin: 0 1vw;
  color: #4d545e;
}

#contacts .contacts-holder .contact-form {
  width: 72%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#contacts .contacts-holder .contact-form-container {
  width: 100%;
}

#contacts .contacts-holder .contact-form-container .form-line {
  height: unset;
}

#contacts .contacts-holder .contact-form-container label {
  font-size: 1.5vw;
}

#contacts .contacts-holder .contact-form .contact-button {
  width: 15%;
  left: 2%;
}

@media (min-width: 1920px) {
  #contacts .contact-button {
    width: 18% !important;
  }
}

#forum,
#forum-page {
  height: 100%;
}

#forum .main-section,
#forum-page .main-section {
  height: 100%;
}

#forum .center-content,
#forum-page .center-content {
  overflow: visible;
  height: 100%;
}

#forum .left-items,
#forum-page .left-items {
  margin: auto 2.5vw auto 4.5vw !important;
}

#forum .left-items img,
#forum-page .left-items img {
  height: unset;
}

#forum .right-items,
#forum-page .right-items {
  display: none;
}

#forum .forum-container,
#forum-page .forum-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3vh 0 0 0;
}

.forum {
  width: 79.5%;
  height: 100%;
}

.forum .forum-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2vw;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
  padding: 1.5% 3.5% 2% 2%;
  margin-bottom: 1.2%;
}

.forum .forum-item-rating {
  width: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.forum .forum-item-rating .forum-downvote,
.forum .forum-item-rating .forum-upvote {
  cursor: pointer;
  width: 1.3vw;
  height: 1.3vw;
}

.forum .forum-item-rating .forum-upvote:hover path {
  fill: #32b72e;
}

.forum .forum-item-rating .forum-downvote:hover path {
  fill: #e55d5d;
}

.forum .forum-item-rating p {
  margin: 13% 0;
  font-size: 1vw;
}

.forum .forum-item-data {
  width: 95%;
  padding: 0 0 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forum .forum-item-data h1 {
  color: #6d7587;
  font-weight: 500;
  font-size: 1.24vw;
  margin: 0;
}

.forum .forum-item-data p {
  color: #8a92a5;
  font-weight: 500;
  font-size: 0.86vw;
  margin: 0.5% 0 0.7% 0;
}

.forum .forum-item-data .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1%;
  border-top: 2px solid #8a92a5;
  padding-top: 1%;
}

.forum .forum-item-data .user-info img {
  width: 1.875vw;
  height: 1.875vw;
}

.forum .forum-item-data .user-info h6 {
  color: #6d7587;
  margin: 0;
  font-weight: 500;
  font-size: 1.05vw;
  margin-left: 1.45%;
}

.forum-item-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.2vh;
  width: 100%;
}

.forum-item-tools .forum-item-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}

.forum-item-tools .forum-item-buttons .round-button .bookmark {
  width: 1.303vw;
  height: 1.303vw;
}

.forum-item-tools .forum-item-buttons .round-button:hover .bookmark-fill {
  fill: #6d7587;
}

.forum-item-tools .forum-item-buttons .add-comment-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 2vw;
  width: 14vw;
  padding: 0 1.5vw;
}

.forum-item-tools .forum-item-buttons .add-comment-button svg {
  width: 1.094vw;
  height: 1.094vw;
}

.forum-item-tools .forum-item-buttons .add-comment-button p {
  font-weight: 400;
  font-size: 1vw;
  color: #6d7587;
}

.forum-item-tools .forum-item-buttons .forum-item-btn {
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forum-item-tools .forum-item-buttons .forum-item-btn svg,
.forum-item-tools .forum-item-buttons .forum-item-btn p {
  margin: 0 1vw;
}

.forum-item-tools .forum-item-buttons .forum-item-btn svg {
  width: 1.303vw;
  height: 1.303vw;
}

.forum-item-tools .forum-item-buttons .forum-item-btn p {
  font-size: 1vw;
}

.forum-item-tools .forum-item-buttons .forum-item-btn .comment {
  cursor: pointer;
}

.forum-item-tools .forum-item-buttons .forum-item-btn .comment:hover path {
  fill: #1654f0;
}

.forum-stats {
  width: 18.8%;
  height: 100%;
}

.forum-stats .start-topic-button-holder {
  height: 12%;
}

.forum-stats .start-topic-button-holder .start-topic-button {
  width: 100%;
  height: 100%;
  font-size: 1.25vw;
}

.forum-stats h1 {
  color: #6d7587;
  font-weight: 600;
  font-size: 1.48vw;
  margin: 5% 0.5vw;
}

.forum-stats .top-users-list {
  margin-left: 3%;
}

.forum-stats .top-users-list .top-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5% 0;
}

.forum-stats .top-users-list .top-user img {
  width: 1.46vw;
  height: 1.46vw;
}

.forum-stats .top-users-list .top-user p,
.forum-stats .top-users-list .top-user h6 {
  margin: 0;
  font-size: 1.1vw;
  color: #6d7587;
}

.forum-stats .top-users-list .top-user p {
  font-weight: 500;
}

.forum-stats .top-users-list .top-user h6 {
  font-weight: 600;
}

.forum-stats .top-users-list .top-user svg {
  width: 1.3vw;
  height: 1.3vw;
}

@media (min-width: 1920px) {
  #forum .forum-container .forum .forum-item {
    width: 100%;
    padding: 2% 3.9% 2% 2%;
    margin-bottom: 1.5%;
  }
  #forum .forum-container .forum .forum-item-rating {
    padding-top: unset;
  }
  #forum .forum-container .forum-item-tools {
    margin-top: 1.5vw;
  }
  #forum .forum-container .forum-item-tools .forum-item-buttons {
    width: 34%;
  }
}

#login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#login .login-card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#login .login-card > div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login .login-card-left {
  background-color: #8a92a5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

#login .login-card-left img {
  width: 20.21vw;
  height: 6.355vw;
}

#login .login-card-right {
  width: 55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login .login-container {
  width: 48%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#login .login-container .login-heading {
  color: #6d7587;
  font-weight: 600;
  font-size: 2.2vw;
  margin: 5% 0;
}

#login .login-container .login-form {
  height: 66%;
}

#login .input-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 23%;
  margin-top: 3%;
}

#login .input-holder label {
  color: #6d7587;
  font-size: 1.1vw;
  margin-bottom: 2%;
  margin-left: 4%;
}

#login .input-holder img {
  height: 1.4vw;
  margin-left: 83%;
  margin-top: -9%;
  cursor: pointer;
}

#login .input-holder input {
  height: 56%;
  padding-left: 2.3vw;
  font-size: 1.1vw;
}

#login .form-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
}

#login .form-tools .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login .form-tools .check input {
  width: 1.6vw;
  height: 1.6vw;
}

#login .form-tools .check label {
  font-size: 0.9vw;
  height: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6d7587;
}

#login .form-tools .check label span {
  font-weight: 600;
}

#login .form-tools a {
  font-weight: 500;
  font-size: 1vw;
  color: #6d7587;
  margin: 0;
}

.input-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20%;
}

.input-holder label {
  color: #6d7587;
  font-size: 1.1vw;
  margin-bottom: 2%;
  margin-left: 4%;
}

.input-holder img {
  height: 1.4vw;
  margin-left: 83%;
  margin-top: -8%;
  cursor: pointer;
}

.input-holder input {
  height: 56%;
  padding-left: 2.3vw;
  font-size: 1.1vw;
}

button {
  width: 100%;
  height: 13%;
  margin: 7% 0 4% 0;
  font-size: 1.4vw;
}

p {
  color: #6d7587;
  font-weight: 500;
  font-size: 1vw;
  margin: 2% 0 0 0;
}

p a {
  font-weight: 700;
  color: #6d7587;
}

#login footer,
#register footer {
  margin: 3% 0;
}

#login footer p,
#register footer p {
  font-weight: 500;
  margin: 0;
  font-size: 1vw;
}

.form-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
}

.form-tools .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-tools .check input {
  width: 1.6vw;
  height: 1.6vw;
}

.form-tools .check label {
  font-size: 0.9vw;
  height: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6d7587;
}

.form-tools .check label span {
  font-weight: 600;
}

.form-tools a {
  font-weight: 500;
  font-size: 1vw;
  color: #6d7587;
  margin: 0;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.3em;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.3vw;
  height: 1.3vw;
  background: #fff;
  border-radius: 0.2em;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd;
          box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\2022";
  position: absolute;
  top: 30%;
  left: 2%;
  font-size: 3.5vw;
  color: #8a92a5;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
          box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
  line-height: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
  transform: scale(0) rotate(45deg);
}

.socials {
  width: 50%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials .social-item {
  width: 3.14vw;
  height: 3.14vw;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials .social-item img {
  width: 1.3vw;
  height: 1.5vw;
}

@media (min-width: 1920px) {
  #login .login-heading {
    font-size: 2.6vw;
  }
  #login .login-form .input-holder label {
    font-size: 1.3vw !important;
  }
  #login .login-form .input-holder input {
    font-size: 1.3vw !important;
  }
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    top: 28%;
    left: 2.5%;
  }
}

#register {
  height: 100%;
}

#register header {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 10%;
}

#register header a {
  padding: 2%;
}

#register .go-back {
  margin: 0 !important;
}

#register .check label {
  display: block !important;
}

#register [type="checkbox"]:not(:checked) + label:after,
#register [type="checkbox"]:checked + label:after {
  top: 30%;
  left: 3%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#register .auth-card {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#register .auth-card .auth-container {
  width: 100%;
}

#register .auth-card .auth-container .auth-heading {
  margin: 0 0 2% 3%;
}

#register .auth-card .auth-container .auth-heading h1 {
  color: #6d7587;
  font-size: 2vw;
}

#register .auth-card .auth-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#register .auth-card .auth-form .form-col {
  width: 80%;
  margin: 0 3%;
}

#register .auth-card .auth-form .form-col .input-holder {
  height: 44%;
  margin-top: 2%;
}

#register .auth-card .auth-form .form-col button {
  height: 30%;
}

#register footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#google-icon {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-image: url("../../../assets/img/google-grey.svg");
  width: 1.5vw;
  height: 1.5vw;
  background-repeat: no-repeat;
  margin: 0 3% 0 0;
}

.google-button {
  color: #6d7587;
  font-weight: 600;
  border-radius: 0.7vw;
  text-align: center;
  border: none;
  margin: unset !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.google-button:hover #google-icon {
  background-image: url("../../../assets/img/google-color.svg");
}
/*# sourceMappingURL=style.css.map */