.upper-section {
    & > div {
        display: flex;
        justify-content: center;
    }

    .page-heading {
        flex-direction: column;
        width: 1078px;
        text-align: center;
        margin: 0 auto;

        h1 {
            color: $textcolor1;
            font-weight: 400;
        }
    }

    .heading-buttons {
        .heading-button {
            cursor: pointer;
            background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
            background-blend-mode: soft-light, normal;
            box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
            border-radius: 47px;
            color: $textcolor2;
            font-weight: 400;
            border: none;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1700px) {
    .page-heading {
        h1 {
            font-size: 42px;
            line-height: 76px;
            margin: 0;
        }
    }

    .heading-buttons {
        .heading-button {
            width: 230px;
            height: 60px;
            font-size: 18px;
            margin: 30px 15px;
        }
    }
}

@media screen and (min-width: 1999px) {
    .page-heading {
        h1 {
            font-size: 62px;
            line-height: 76px;
            margin: 10px 0;
        }
    }

    .heading-buttons {
        .heading-button {
            width: 371px;
            height: 94px;
            font-size: 32px;
            margin: 50px 15px;
        }
    }
}
