header {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        cursor: pointer;
    }

    nav {
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
        background-blend-mode: soft-light, normal;
        box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
        border-radius: 47px;
        display: flex;
        justify-content: center;
        align-items: center;

        .navigation-list {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;

            &-item {
                cursor: pointer;

                a {
                    color: $textcolor2;
                }

                a:active {
                    color: $gradient;
                }

                &:hover {
                    a {
                        background: $gradient;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }

    .lang-select {
        color: $textcolor2;
        justify-content: flex-end;
        display: flex;

        .lang {
            cursor: pointer;
        }
    }
}


// XS SCREEN
@media (min-width: 1000px) and (max-width: 1110px) {
    header {
        .logo {
            img {
                transform: scale(0.6);
            }
        }

        nav {
            width: 620px;
            height: 45px;
            margin-left: -25px;

            .navigation-list {
                &-item {
                    margin: 0 10px;

                    a {
                        font-size: 15px;
                        line-height: 18px;
                    }
                }
            }
        }

        .lang-select {
            font-size: 14px;
            line-height: 16px;
            flex-grow: 3;
            margin: 0 20px;

            .lang {
                margin: 0 3px;
            }
        }
    }
}

// S SCREEN
@media (min-width: 1111px) and (max-width: 1350px) {
    header {
        padding: 0 20px 0 40px;

        .logo {
            margin-left: -55px;

            img {
                transform: scale(0.65);
            }
        }

        nav {
            width: 700px;
            height: 50px;
            margin-left: -20px;

            .navigation-list {
                &-item {
                    margin: 0 15px;

                    a {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }

        .lang-select {
            font-size: 14px;
            line-height: 16px;
            flex-grow: 3;
            margin: 0 25px;

            .lang {
                margin: 0 4px;
            }
        }
    }
}

// M SCREEN
@media (min-width: 1351px) and (max-width: 1540px) {
    header {
        padding: 0 10px 0 25px;

        .logo {
            margin-right: 15px;

            img {
                transform: scale(0.8);
            }
        }

        nav {
            width: 850px;
            height: 60px;

            .navigation-list {
                &-item {
                    margin: 0 20px;

                    a {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
            }
        }

        .lang-select {
            font-size: 18px;
            line-height: 20px;
            flex-grow: 2;
            margin: 0 15px;

            .lang {
                margin: 0 5px;
            }
        }
    }
}

// L SCREEN (1)
@media (min-width: 1541px) and (max-width: 1700px) {
    header {
        padding: 0 15px 0 30px;

        .logo {
            margin-right: 20px;

            img {
                transform: scale(0.85);
            }
        }

        nav {
            width: 900px;
            height: 65px;
            margin-left: 20px;

            .navigation-list {
                &-item {
                    margin: 0 17px;

                    a {
                        font-size: 21px;
                        line-height: 24px;
                    }
                }
            }
        }

        .lang-select {
            font-size: 20px;
            line-height: 26px;
            flex-grow: 3;
            margin: 0 15px;

            .lang {
                margin: 0 10px;
            }
        }
    }
}

// L SCREEN (2)
@media (min-width: 1701px) and (max-width: 1830px) {
    header {
        padding: 0 15px 0 40px;

        .logo {
            margin-right: 50px;

            img {
                transform: scale(0.9);
            }
        }

        nav {
            width: 920px;
            height: 65px;
            margin-left: 35px;

            .navigation-list {
                &-item {
                    margin: 0 17px;

                    a {
                        font-size: 21px;
                        line-height: 24px;
                    }
                }
            }
        }

        .lang-select {
            font-size: 20px;
            line-height: 26px;
            flex-grow: 3;
            margin: 0 15px;

            .lang {
                margin: 0 10px;
            }
        }
    }
}

// XL SCREEN
@media (min-width: 1831px) {
    header {
        padding: 0 20px 0 60px;

        .logo {
            margin-right: 55px;
        }

        nav {
            width: 1071px;
            height: 73px;

            .navigation-list {
                &-item {
                    margin: 0 20px;

                    a {
                        font-size: 24px;
                        line-height: 29px;
                    }
                }
            }
        }

        .lang-select {
            font-size: 24px;
            line-height: 29px;
            flex-grow: 3;
            margin: 0 20px;

            .lang {
                margin: 0 15px;
            }
        }
    }
}
