.contact-form {
    display: flex;
    width: 98%; 
    padding: 0 5rem 0 0;

    &-container {
        width: 89%;
        height: 100%;

        .form-line {
            display: flex;
            justify-content: space-between;
            height: 100%;

            .input-holder {
                display: flex;
                flex-direction: column;
                width: 47.81%;
                height: 100%;
            }

            label {
                color: $textcolor2;
                font-weight: 500;
                font-size: 1.7vw;
                height: 30%;
                margin-bottom: unset !important;
                margin-left: unset !important;
            }

            input {
                height: 6.8vh;
                margin: 1.9vh 0 2.2vh 0;
                width: 100%;
            }

            textarea {
                width: 100%;
                height: 22vh;
                padding-top: 2vh;
            }

            input,
            textarea {
                font-size: 1.5vw;
                padding-left: 2.3vw;
            }
        }
    }
}

.contact-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 11%;
    position: relative;
    left: 4%;

    button {
        font-weight: 600;
        text-align: center;
        font-size: 1.5vw;
        width: 100%;
        border-radius: 0.8vw;
        height: 23.9%;
    }
}

@media (max-width: 1000px), (min-width: 1920px) {
    .contact-form {
        &-container {
            input {
                height: 3.65vw !important;
                margin: 1.09vw 0 1.25vw 0 !important;
            }

            textarea {
                height: 11.2vw !important;
                padding-top: 1.2vw !important;
            }
        }
    }
}
