.form-input {
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd;
    border-radius: 2vw;
    resize: none;
    outline: none;

    &::placeholder {
        color: $textcolor2;
    }

    &:not(:focus),
    &:focus {
        color: $textcolor2;
        font-size: 1.1vw;
    }

    &:focus {
        &::placeholder {
            color: transparent;
        }
    }
}