.main-section {
    display: flex;
    justify-content: center;

    .left-items {
        margin: 5.2% 2.5vw 0 4.5vw;

        img {
            position: relative;
            height: 32.963vh;
            width: 1.511vw;
        }
    }

    .center-content {
        margin: 0 auto;
        width: 100%;
        height: max-content;

        .main-heading {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            margin: 0.5% 0 1.5% 0.2%;

            h1 {
                font-weight: 500;
                color: $textcolor1;
                margin: 0;
                font-size: 4.1vh;
            }
        }
    }

    #center0 {
        overflow: hidden;
    }

    //     #right0 {
    // height: 24vw;
    // .selector-buttons-group{
    //     top: -10%;
    // }
    // .next-button {
    //     margin-bottom: 2vh;
    // }
    //}

    // #right1 {
    //     .next-button {
    //         margin-bottom: 35%;
    //     }
    // }

    .right-items {
        position: relative;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 1.39%;

        .selector-buttons-group {
            margin-left: auto;
            position: relative;
            // bottom: 20%;
            bottom: 4.5vw;

            .selector-button-container {
                .button-stroke {
                    .button {
                        cursor: pointer;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%),
                            #ebecf0;
                        background-blend-mode: soft-light, normal;
                        box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
                        margin: 0.53vw 0;
                        width: 1.88vw !important;
                        height: 1.88vw !important;

                        &-dot {
                            background-color: $textcolor1;
                            border-radius: 100%;
                            width: 0.63vw;
                            height: 0.63vw;
                        }
                    }
                }
            }

            .button-clicked {
                .button-stroke {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                    z-index: -1;
                    border-radius: 100%;
                    border: 1px solid rgba(255, 255, 255, 0.4);
                    box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;

                    .button {
                        margin: auto !important;
                        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%),
                            #ebecf0 !important;
                        background-blend-mode: soft-light, normal !important;
                        box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;

                        &-dot {
                            width: 0.64vw !important;
                            height: 0.63vw;
                        }
                    }
                }
            }
        }

        .next-button {
            svg {
                height: 1.0417vw;
                width: 0.678vw;
            }

            &:hover {
                svg {
                    path {
                        fill: $text-hover;
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px), (min-width: 1920px) {
    .left-items {
        img {
            height: unset !important;
        }
    }

    .center-content {
        .main-heading {
            h1 {
                font-size: 2.2vw !important;
            }
        }
    }

    .right-items {
        height: 22vw;
    }
}
