.main-section {
    display: flex;
    justify-content: center;

    .left-items {
        margin-top: auto !important;

        img {
            position: relative;
        }
    }

    .center-content {
        margin: 0 auto;
        width: 100%;

        .main-heading {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            h1 {
                font-weight: 500;
                color: $textcolor1;
                margin: 0;
            }
        }
    }

    #center0 {
        overflow: hidden;
    }

    #right0 {
        .next-button {
            margin-bottom: 20px;
        }
    }

    .right-items {
        position: relative;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 10px;

        .selector-buttons-group {
            margin-left: auto;
            position: relative;

            .selector-button-container {
                .button-stroke {
                    .button {
                        cursor: pointer;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%),
                            #ebecf0;
                        background-blend-mode: soft-light, normal;
                        box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
                        margin: 10px 0;

                        &-dot {
                            background-color: $textcolor1;
                            border-radius: 100%;
                        }
                    }
                }
            }

            .button-clicked {
                .button-stroke {
                    position: relative;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: -1;
                    border-radius: 100%;
                    border: 1px solid rgba(255, 255, 255, 0.4);
                    box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;

                    .button {
                        margin: auto !important;
                        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%),
                            #ebecf0 !important;
                        background-blend-mode: soft-light, normal !important;
                        box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd !important;
                    }
                }
            }
        }

        .next-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 22%;
            margin-bottom: 20px;
        }
    }
}

// XS SCREEN
@media screen and (max-width: 1110px) {
    #left0 {
        img {
            bottom: 5px;
        }
    }

    #left1 {
        img {
            top: 30px;
        }
    }

    .main-section {
        .left-items {
            margin: 0 30px 0 40px;

            img {
                bottom: 15px;
                width: 23px;
                height: 200px;
            }
        }

        .center-content {
            .main-heading {
                margin: 15px 0 10px 10px;

                h1 {
                    font-size: 23px;
                    line-height: 32px;
                }
            }
        }

        .right-items {
            .selector-buttons-group {
                .selector-button-container {
                    .button-stroke {
                        .button {
                            width: 22px;
                            height: 22px;
                            margin: 10px 0;

                            &-dot {
                                width: 8px;
                                height: 8px;
                            }
                        }
                    }
                }

                .button-clicked {
                    .button {
                        &-dot {
                            width: 9px !important;
                        }
                    }
                }
            }
        }

        .next-button {
            width: 40px;
            height: 40px;

            img {
                width: 8px;
                height: 14px;
            }
        }
    }
}

@media (min-width: 1111px) and (max-width: 1330px) {
    #left0 {
        img {
            bottom: 9px;
        }
    }

    #left1 {
        img {
            top: 20px;
        }
    }

    .main-section {
        .left-items {
            margin: 0 30px 0 50px;

            img {
                width: 23px;
                height: 220px;
            }
        }

        .center-content {
            .main-heading {
                margin: 10px 0 10px 20px;

                h1 {
                    font-size: 24px;
                    line-height: 32px;
                }
            }
        }

        .right-items {
            .selector-buttons-group {
                .selector-button-container {
                    .button-stroke {
                        .button {
                            width: 22px;
                            height: 22px;
                            margin: 10px 0;

                            &-dot {
                                width: 8px;
                                height: 8px;
                            }
                        }
                    }
                }

                .button-clicked {
                    .button {
                        &-dot {
                            width: 9px !important;
                        }
                    }
                }
            }
        }

        .next-button {
            width: 45px;
            height: 45px;

            img {
                width: 9px;
                height: 15px;
            }
        }
    }
}

// S SCREEN
@media (min-width: 1331px) and (max-width: 1440px) {
    #left0 {
        img {
            bottom: 6px;
        }
    }

    #left1 {
        img {
            top: 40px;
        }
    }

    .main-section {
        .left-items {
            margin: 0 20px 0 60px;

            img {
                height: 240px;
                width: 23px;
            }
        }

        .center-content {
            .main-heading {
                margin: 10px 0 10px 20px;

                h1 {
                    font-size: 27px;
                    line-height: 28px;
                }
            }
        }

        .right-items {
            .selector-buttons-group {
                bottom: 73px;

                .selector-button-container {
                    .button-stroke {
                        .button {
                            width: 26px;
                            height: 26px;
                            margin: 10px 0;

                            &-dot {
                                width: 9px;
                                height: 9px;
                            }
                        }
                    }
                }

                .button-clicked {
                    .button {
                        &-dot {
                            width: 10px !important;
                        }
                    }
                }
            }
        }

        .next-button {
            width: 50px;
            height: 50px;

            img {
                width: 9px;
                height: 15px;
            }
        }
    }
}

// M SCREEN
@media (min-width: 1441px) and (max-width: 1650px) {
    #left0 {
        img {
            bottom: 7px;
        }
    }

    #left1 {
        img {
            top: 30px;
        }
    }

    #left2 {
        img {
            bottom: 35px;
        }
    }

    .main-section {
        .left-items {
            margin: 0 20px 0 30px;

            img {
                height: 250px;
                margin-left: 30px;
            }
        }

        .center-content {
            .main-heading {
                margin: 20px 0 15px 25px;

                h1 {
                    font-size: 31px;
                    line-height: 33px;
                }
            }
        }

        .right-items {
            .selector-buttons-group {
                bottom: 73px;

                .selector-button-container {
                    .button-stroke {
                        .button {
                            width: 30px;
                            height: 30px;
                            margin: 10px 0;

                            &-dot {
                                width: 10px;
                                height: 10px;
                            }
                        }
                    }
                }

                .button-clicked {
                    .button {
                        &-dot {
                            width: 11px !important;
                        }
                    }
                }
            }
        }

        .next-button {
            width: 50px;
            height: 50px;

            img {
                width: 11px;
                height: 23px;
            }
        }
    }
}

// L SCREEN
@media (min-width: 1651px) and (max-width: 1860px) {
    #left0 {
        img {
            bottom: 30px;
        }
    }

    #left1 {
        img {
            top: 40px;
        }
    }

    #left2 {
        img {
            bottom: 30px;
        }
    }

    .main-section {
        .left-items {
            margin: 0 25px 0 45px;

            img {
                margin-left: 30px;
                height: 275px;
            }
        }

        .center-content {
            .main-heading {
                margin: 30px 0 25px 25px;

                h1 {
                    font-size: 39px;
                    line-height: 43px;
                }
            }
        }

        .right-items {
            margin-left: 25px;

            .selector-buttons-group {
                bottom: 73px;

                .selector-button-container {
                    .button-stroke {
                        .button {
                            width: 36px;
                            height: 36px;
                            margin: 10px 0;

                            &-dot {
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }

                .button-clicked {
                    .button {
                        &-dot {
                            width: 13px !important;
                        }
                    }
                }
            }
        }

        .next-button {
            width: 70px;
            height: 70px;

            img {
                width: 17px;
                height: 26px;
            }
        }
    }
}

// XL SCREEN
@media (min-width: 1861px) {
    #left1 {
        img {
            top: 55px;
        }
    }

    #left2 {
        img {
            bottom: 40px;
        }
    }

    #products {
        .main-section {
            .left-items {
                img {
                    bottom: 85px;
                }
            }
        }
    }

    .main-section {
        .left-items {
            margin: 0 40px 0 90px;

            img {
                margin-left: 10px;
            }
        }

        .center-content {
            .main-heading {
                margin: 30px 0 35px 45px;

                h1 {
                    font-size: 48px;
                    line-height: 59px;
                }
            }
        }

        .right-items {
            margin-left: 25px;

            .selector-buttons-group {
                bottom: 73px;

                .selector-button-container {
                    .button-stroke {
                        .button {
                            width: 36px;
                            height: 36px;
                            margin: 10px 0;

                            &-dot {
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }

                .button-clicked {
                    .button {
                        &-dot {
                            width: 13px !important;
                        }
                    }
                }
            }
        }

        .next-button {
            width: 70px;
            height: 70px;

            img {
                width: 17px;
                height: 26px;
            }
        }
    }
}
