.news-slider {
    &-container {
        display: flex;
        overflow: hidden;

        .news-item {
            .news-image {
                width: 18.75vw;
            }

            .news-info {
                h6 {
                    margin: 1.41vh 0 1.6vh 0;
                    font-size: 1.5vw;
                    font-weight: 500;
                    color: $textcolor2;
                }

                p {
                    margin: 0;
                }

                img {
                    width: 1.15vw;
                    height: 1.15vw;
                }
            }
        }
    }

    .slider-buttons {
        display: flex;
        margin-top: 4.1vh;

        .slide-button {
            width: 0.7vw;
            height: 0.7vw;
            background-color: #848e9d;
            border-radius: 100%;
            margin-right: 0.47vw;

            &:hover {
                background-color: #4d545e;
            }
        }

        .active-slide {
            background-color: #4d545e;
        }
    }
}

@media (max-width: 1000px), (min-width: 1920px) {
    .news-slider {
        &-container {
            .news-item {
                .news-image {
                    height: unset !important;
                }

                .news-info {
                    h6 {
                        margin: 0.8vw 0 0.9vw 0 !important;
                    }
                }
            }
        }

        .slide-buttons {
            margin-top: 2.3vw !important;
        }
    }
}

