.news-slider {
    &-container {
        display: flex;
        overflow: hidden;

        .news-item {
            .news-image {
                width: 18.75vw;
                height: 21.852vh;
            }

            .news-info {
                h6 {
                    margin: 1.667vh 0 0.926vh 0;
                    height: 4.445vh;
                }

                p {
                    margin: 0;
                }

                img {
                    width: 1.15vw;
                    height: 1.15vw;
                }
            }
        }
    }

    .slider-buttons {
        display: flex;
        margin-top: 4.1vh;

        .slide-button {
            width: 0.73vw;
            height: 0.73vw;
            background-color: #848e9d;
            border-radius: 100%;
            margin-right: 0.47vw;

            &:hover {
                background-color: #4d545e;
            }
        }

        .active-slide {
            background-color: #4d545e;
        }
    }
}

@media (max-width: 1000px), (min-width: 1920px) {
    .news-slider {
        &-container {
            .news-item {
                .news-image {
                    height: 12.2917vw !important;
                }

                .news-info {
                    h6 {
                        margin: 0.94vw 0 0.525vw 0 !important;
                        height: 2.5vw !important;
                    }
                }
            }
        }

        .slide-buttons {
            margin-top: 2.3vw !important;
        }
    }
}

// // XS SCREEN
// @media screen and (max-width: 1110px) {
//     .news-slider {
//         padding: 0 10px;

//         &-container {
//             .news-item {
//                 .news-image {
//                     width: 240px;
//                     height: 140px;
//                 }

//                 .news-info {
//                     h6 {
//                         height: 13px;
//                     }

//                     img {
//                         width: 16px;
//                         height: 26px;
//                     }
//                 }
//             }
//         }

//         .slider-buttons {
//             margin-top: 12px;

//             .slide-button {
//                 width: 8px;
//                 height: 8px;
//                 margin: 0 2px;
//             }
//         }
//     }
// }

// S SCREEN
// @media (min-width: 1111px) and (max-width: 1330px) {
//     .news-slider {
//         padding: 0 10px;

//         &-container {
//             .news-item {
//                 .news-image {
//                     width: 260px;
//                     height: 160px;
//                 }

//                 .news-info {
//                     h6 {
//                         height: 14px;
//                     }

//                     img {
//                         width: 18px;
//                         height: 28px;
//                     }
//                 }
//             }
//         }

//         .slider-buttons {
//             margin-top: 15px;

//             .slide-button {
//                 width: 8px;
//                 height: 8px;
//                 margin: 0 3px;
//             }
//         }
//     }
// }

// M SCREEN
// @media (min-width: 1331px) and (max-width: 1500px) {
//     .news-slider {
//         padding: 0 20px;

//         &-container {
//             .news-item {
//                 .news-image {
//                     width: 280px;
//                     height: 170px;
//                 }

//                 .news-info {
//                     h6 {
//                         height: 16px;
//                     }

//                     img {
//                         width: 20px;
//                         height: 30px;
//                     }
//                 }
//             }
//         }

//         .slider-buttons {
//             margin-top: 20px;

//             .slide-button {
//                 width: 9px;
//                 height: 9px;
//                 margin: 0 3px;
//             }
//         }
//     }
// }

// L SCREEN
// @media (min-width: 1501px) and (max-width: 1650px) {
//     .news-slider {
//         padding: 0 25px;

//         &-container {
//             .news-item {
//                 .news-image {
//                     width: 300px;
//                     height: 190px;
//                 }

//                 .news-info {
//                     h6 {
//                         height: 20px;
//                     }

//                     img {
//                         width: 20px;
//                         height: 30px;
//                     }
//                 }
//             }
//         }

//         .slider-buttons {
//             margin-top: 20px;

//             .slide-button {
//                 width: 10px;
//                 height: 10px;
//                 margin: 0 3px;
//             }
//         }
//     }
// }
