.news-slider {
    &-container {
        display: flex;
        position: relative;
        transition: left 0.7s ease-in;

        .news-item {
            width: 23.3%;
            cursor: pointer;

            .news-image {
                width: 18.75vw;
                height: 11vw;
            }

            .news-info {
                width: 99%;
                // height: 100%;

                h6 {
                    margin: 1vh 0 1.2vh 0;
                    // font-size: 1.4vw;
                    font-size: 0.95vw;
                    font-weight: 500;
                    color: $textcolor2;
                    // height: 17%;
                    height: 4rem;
                    width: 100%;
                    overflow-y: auto;

                    /* width */
                    &::-webkit-scrollbar {
                        width: 0.5vw;
                    }

                    /* Track */
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1;
                        border-radius: 2vw;
                    }

                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: $textcolor1;
                        border-radius: 2vw;
                    }

                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: $textcolor3;
                    }
                }

                p {
                    margin: 0 0 0 2%;
                }

                img {
                    width: 1.1vw;
                }
            }
        }
    }

    .slider-buttons {
        margin-top: 1vh !important;
    }
}

@media (max-width: 1000px), (min-width: 1920px) {
    .news-slider {
        &-container {
            .news-item {
                .news-image {
                    height: unset !important;
                }

                .news-info {
                    h6 {
                        margin: 0.8vw 0 0.9vw 0 !important;
                    }
                }
            }
        }
    }
}
