.page-heading-holder {
    & > div {
        display: flex;
        justify-content: center;
    }

    .page-heading {
        flex-direction: column;
        text-align: center;

        h1 {
            color: $textcolor1;
            font-weight: 400;
            margin-top: unset !important;
            margin-bottom: 5px !important;
        }
    }

    .heading-buttons {
        .heading-button {
            border-radius: 47px;
            color: $textcolor2;
            font-weight: 400;
            display: flex;
            padding: 0;
            justify-content: center;
            align-items: center;
        }
    }
}

// XS SCREEN
@media screen and (max-width: 1330px) {
    .page-heading {
        margin: 13px 0;

        h1 {
            font-size: 27px;
            line-height: 35px;
        }
    }

    .heading-buttons {
        .heading-button {
            width: 180px;
            height: 38px;
            font-size: 16px;
            line-height: 23px;
            margin: 0 6px;
        }
    }
}

// S SCREEN
@media (min-width: 1330px) and (max-width: 1500px) {
    .page-heading {
        margin: 15px 0;

        h1 {
            font-size: 31px;
            line-height: 37px;
        }
    }

    .heading-buttons {
        .heading-button {
            width: 195px;
            height: 42px;
            font-size: 19px;
            line-height: 22px;
            margin: 0 10px;
        }
    }
}

// M SCREEN
@media (min-width: 1500px) and (max-width: 1620px) {
    .page-heading {
        margin: 20px 0;

        h1 {
            font-size: 33px;
            line-height: 35px;
        }
    }

    .heading-buttons {
        .heading-button {
            width: 245px;
            height: 47px;
            font-size: 21px;
            line-height: 25px;
            margin: 0 12px;
        }
    }
}

@media (min-width: 1620px) and (max-width: 1799px) {
    .page-heading {
        margin: 30px 0;

        h1 {
            font-size: 37px;
            line-height: 40px;
        }
    }

    .heading-buttons {
        .heading-button {
            width: 255px;
            height: 52px;
            font-size: 23px;
            line-height: 26px;
            margin: 0 15px;
        }
    }
}

// L SCREEN
@media (min-width: 1800px) {
    .page-heading {
        margin: 40px 0;

        h1 {
            font-size: 50px;
            line-height: 61px;
        }
    }

    .heading-buttons {
        .heading-button {
            width: 310px;
            height: 70px;
            padding: 0;
            font-size: 30px;
            line-height: 37px;
            margin: 0 25px;
        }
    }
}
