.page-heading-holder {
    & > div {
        display: flex;
        justify-content: center;
    }

    .page-heading {
        flex-direction: column;
        text-align: center;
        margin: 2.22% 0 2% 0;

        h1 {
            color: $textcolor1;
            font-weight: 400;
            margin: 0;
            font-size: 4.51vh;
        }
    }

    .heading-buttons {
        a {
            margin: 0 0.73%;
        }

        .heading-button {
            border-radius: 2vw;
            color: $textcolor2;
            font-weight: 400;
            display: flex;
            padding: 0;
            margin: 0;
            justify-content: center;
            align-items: center;
            font-size: 1.4vw;
            height: 6.5vh;
            width: 16.15vw;
        }
    }
}

@media (max-width: 1000px), (min-width: 1920px) {
    .page-heading {
        margin: 2% 0 1.8% 0 !important;
        
        h1 {
            font-size: 2.5vw !important;
        }
    }

    .heading-buttons {
        .heading-button {
            font-size: 1.5vw !important;
            height: 3.2vw !important;
        }
    }
}
