$textcolor1: #8a92a5; //primary
$textcolor2: #6d7587; //secondary
$textcolor3: #4d545e;

$hover-color: #1654f0;

$hover-gradient: linear-gradient(239.57deg, #37dbe0 20.53%, #1758f1 79.85%); // navbar items hover effect

$forum-red: #e55d5d;
$forum-green: #32b72e;
