.contact-form {
    display: flex;
    justify-content: space-between;

    &-container {
        margin-left: 30px;

        .form-line {
            display: flex;
            justify-content: space-between;

            .input-holder {
                display: flex;
                flex-direction: column;
            }

            label {
                color: $textcolor2;
                font-weight: 500;
            }

            input,
            textarea {
                background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
                background-blend-mode: soft-light, normal;
                border: 1px solid rgba(255, 255, 255, 0.4);
                box-sizing: border-box;
                box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd;
                resize: none;
                outline: none;

                &::placeholder {
                    color: $textcolor2;
                }

                &:not(:focus),
                &:focus {
                    color: $textcolor2;
                }

                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }
    }
}

.contact-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    button {
        font-weight: 600;
        position: relative;
        margin-bottom: 10px;
    }
}

#right2 {
    .next-button {
        display: none;
    }
}

// XS SCREEN
@media screen and (max-width: 1150px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    font-size: 18px;
                    line-height: 26px;
                }

                input,
                textarea {
                    margin: 6px 0;
                    border-radius: 25px;

                    &:not(:focus),
                    &:focus,
                    &::placeholder {
                        font-size: 17px;
                        line-height: 29px;
                        padding: 0 15px;
                    }

                    &:not(:focus),
                    &:focus {
                        padding: 0 0 0 15px;
                    }
                }

                input {
                    width: 400px;
                    height: 40px;
                    padding-top: 3px;
                }

                textarea {
                    width: 840px;
                    height: 160px;
                    padding-top: 5px !important;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 20px;
            width: 80px;
            height: 50px;
            font-size: 14px;
            line-height: 26px;
        }
    }
}

@media (min-width: 1150px) and (max-width: 1260px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    font-size: 19px;
                    line-height: 28px;
                }

                input,
                textarea {
                    margin: 6px 0;
                    border-radius: 25px;

                    &:not(:focus),
                    &:focus,
                    &::placeholder {
                        font-size: 17px;
                        line-height: 29px;
                    }

                    &:not(:focus),
                    &:focus {
                        padding: 0 0 0 15px;
                    }
                }

                input {
                    width: 440px;
                    height: 40px;
                    padding-top: 3px;
                }

                textarea {
                    width: 920px;
                    height: 160px;
                    padding-top: 5px !important;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 20px;
            width: 80px;
            height: 50px;
            font-size: 14px;
            line-height: 26px;
        }
    }
}

@media (min-width: 1261px) and (max-width: 1330px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    font-size: 21px;
                    line-height: 30px;
                }

                input,
                textarea {
                    margin: 6px 0;
                    border-radius: 47px;

                    &:not(:focus),
                    &:focus,
                    &::placeholder {
                        font-size: 18px;
                        line-height: 31px;
                    }

                    &:not(:focus),
                    &:focus {
                        padding: 0 0 0 20px;
                    }
                }

                input {
                    width: 460px;
                    height: 40px;
                    padding-top: 7px;
                }

                textarea {
                    width: 950px;
                    height: 160px;
                    padding-top: 8px !important;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 20px;
            width: 95px;
            height: 55px;
            font-size: 16px;
            line-height: 31px;
        }
    }
}

// S SCREEN
@media (min-width: 1330px) and (max-width: 1440px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    font-size: 21px;
                    line-height: 30px;
                }

                input,
                textarea {
                    margin: 6px 0;
                    border-radius: 28px;

                    &:not(:focus),
                    &:focus,
                    &::placeholder {
                        font-size: 18px;
                        line-height: 26px;
                    }

                    &:not(:focus),
                    &:focus {
                        padding: 0 0 0 30px;
                    }
                }

                input {
                    width: 495px;
                    height: 40px;
                    padding-top: 7px;
                }

                textarea {
                    width: 1040px;
                    height: 165px;
                    padding-top: 10px !important;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 25px;
            width: 100px;
            height: 60px;
            font-size: 18px;
            line-height: 31px;
        }
    }
}

// M SCREEN
@media (min-width: 1441px) and (max-width: 1640px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    font-size: 24px;
                    line-height: 33px;
                }

                input,
                textarea {
                    margin: 8px 0;
                    border-radius: 47px;
                    padding-left: 10px;

                    &:not(:focus),
                    &:focus,
                    &::placeholder {
                        font-size: 21px;
                        line-height: 34px;
                    }

                    &:not(:focus),
                    &:focus {
                        padding: 0 0 0 30px;
                    }
                }

                input {
                    width: 545px;
                    height: 47px;
                    padding-top: 7px;
                }

                textarea {
                    width: 1140px;
                    height: 195px;
                    padding-top: 10px !important;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 35px;
            width: 120px;
            height: 69px;
            font-size: 21px;
            line-height: 32px;
        }
    }
}

// L SCREEN
@media (min-width: 1641px) and (max-width: 1720px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    font-size: 28px;
                    line-height: 35px;
                }

                input,
                textarea {
                    margin: 8px 0;
                    border-radius: 47px;

                    &:not(:focus),
                    &:focus,
                    &::placeholder {
                        font-size: 22px;
                        line-height: 34px;
                    }

                    &:not(:focus),
                    &:focus {
                        padding: 0 0 0 30px;
                    }
                }

                input {
                    width: 590px;
                    height: 53px;
                    padding-top: 7px;
                }

                textarea {
                    width: 1235px;
                    height: 205px;
                    padding-top: 20px !important;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 60px;
            width: 138px;
            height: 79px;
            font-size: 23px;
            line-height: 32px;
        }
    }
}

@media (min-width: 1720px) and (max-width: 1850px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    font-size: 30px;
                    line-height: 37px;
                }

                input,
                textarea {
                    margin: 8px 0;
                    border-radius: 47px;

                    &:not(:focus),
                    &:focus,
                    &::placeholder {
                        font-size: 23px;
                        line-height: 34px;
                    }

                    &:not(:focus),
                    &:focus{
                        padding: 0 0 0 30px;
                    }
                }

                input {
                    width: 620px;
                    height: 60px;
                    padding-top: 7px;
                }

                textarea {
                    width: 1300px;
                    height: 240px;
                    padding-top: 20px !important;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 70px;
            width: 160px;
            height: 79px;
            font-size: 28px;
            line-height: 37px;
        }
    }
}

// XL SCREEN
@media (min-width: 1851px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    margin-bottom: 10px;
                    font-size: 36px;
                    line-height: 44px;
                }

                input,
                textarea {
                    margin: 10px 0;
                    border-radius: 47px;

                    &:not(:focus),
                    &:focus,
                    &::placeholder {
                        font-size: 30px;
                        line-height: 37px;
                    }

                    &:not(:focus),
                    &:focus{
                        padding: 0 0 0 44px;
                    }
                }

                input {
                    width: 670px;
                    height: 70px;
                    padding-top: 10px;
                }

                textarea {
                    width: 1401px;
                    height: 257px;
                    padding-top: 25px !important;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 55px;
            width: 180px;
            height: 99px;
            font-size: 30px;
            line-height: 37px;
        }
    }
}
