.contact-form {
    display: flex;
    justify-content: space-between;

    &-container {
        margin-left: 30px;
        
        .form-line {
            display: flex;
            justify-content: space-between;

            .input-holder {
                display: flex;
                flex-direction: column;
            }

            label {
                color: $textcolor2;
                font-weight: 500;
            }

            input,
            textarea {
                background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
                background-blend-mode: soft-light, normal;
                border: 1px solid rgba(255, 255, 255, 0.4);
                box-sizing: border-box;
                box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd;
                border-radius: 47px;
                resize: none;

                &::placeholder {
                    color: $textcolor2;
                }
            }
        }
    }
}

.contact-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    button {
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #8a92a5;
        background-blend-mode: soft-light, normal;
        box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
        border-radius: 13px;
        color: white;
        border: none;
        text-align: center;
        font-weight: 600;
        position: relative;
        // left: 50% !important;
    }
}

#right2 {
    .next-button {
        display: none;
    }
}

// XS SCREEN
@media (min-width: 1000px) and (max-width: 1150px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    margin-bottom: 10px;
                    font-size: 25px;
                    line-height: 34px;
                }

                input,
                textarea {
                    margin: 10px 0;

                    &::placeholder {
                        font-size: 22px;
                        line-height: 28px;
                        padding: 0 44px;
                    }
                }

                input {
                    width: 385px;
                    height: 53px;
                    padding-top: 10px;
                }

                textarea {
                    width: 830px;
                    height: 240px;
                    padding-top: 25px;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 25px;
            width: 100px;
            height: 60px;
            font-size: 19px;
            line-height: 25px;
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 1150px) and (max-width: 1260px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    margin-bottom: 7px;
                    font-size: 24px;
                    line-height: 30px;
                }

                input,
                textarea {
                    margin: 10px 0;

                    &::placeholder {
                        font-size: 21px;
                        line-height: 28px;
                        padding: 0 44px;
                    }
                }

                input {
                    width: 440px;
                    height: 50px;
                    padding-top: 10px;
                }

                textarea {
                    width: 930px;
                    height: 240px;
                    padding-top: 25px;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 25px;
            width: 120px;
            height: 60px;
            font-size: 21px;
            line-height: 25px;
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 1261px) and (max-width: 1330px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    margin-bottom: 10px;
                    font-size: 25px;
                    line-height: 34px;
                }

                input,
                textarea {
                    margin: 10px 0;

                    &::placeholder {
                        font-size: 22px;
                        line-height: 28px;
                        padding: 0 44px;
                    }
                }

                input {
                    width: 485px;
                    height: 53px;
                    padding-top: 10px;
                }

                textarea {
                    width: 1015px;
                    height: 240px;
                    padding-top: 25px;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 25px;
            width: 120px;
            height: 60px;
            font-size: 21px;
            line-height: 25px;
            margin-bottom: 10px;
        }
    }
}

// S SCREEN
@media (min-width: 1330px) and (max-width: 1440px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    margin-bottom: 10px;
                    font-size: 30px;
                    line-height: 38px;
                }

                input,
                textarea {
                    margin: 10px 0;

                    &::placeholder {
                        font-size: 24px;
                        line-height: 28px;
                        padding: 0 44px;
                    }
                }

                input {
                    width: 490px;
                    height: 55px;
                    padding-top: 10px;
                }

                textarea {
                    width: 1020px;
                    height: 247px;
                    padding-top: 25px;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 60px;
            width: 120px;
            height: 60px;
            font-size: 22px;
            line-height: 25px;
            margin-bottom: 10px;
        }
    }
}

// M SCREEN
@media (min-width: 1441px) and (max-width: 1640px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    margin-bottom: 10px;
                    font-size: 36px;
                    line-height: 44px;
                }

                input,
                textarea {
                    margin: 10px 0;

                    &::placeholder {
                        font-size: 30px;
                        line-height: 37px;
                        padding: 0 44px;
                    }
                }

                input {
                    width: 560px;
                    height: 60px;
                    padding-top: 10px;
                }

                textarea {
                    width: 1200px;
                    height: 247px;
                    padding-top: 25px;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 35px;
            width: 140px;
            height: 79px;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 10px;
        }
    }
}

// L SCREEN
@media (min-width: 1640px) and (max-width: 1850px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    margin-bottom: 10px;
                    font-size: 36px;
                    line-height: 44px;
                }

                input,
                textarea {
                    margin: 10px 0;

                    &::placeholder {
                        font-size: 30px;
                        line-height: 37px;
                        padding: 0 44px;
                    }
                }

                input {
                    width: 610px;
                    height: 70px;
                    padding-top: 10px;
                }

                textarea {
                    width: 1300px;
                    height: 247px;
                    padding-top: 25px;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 70px;
            width: 160px;
            height: 79px;
            font-size: 28px;
            line-height: 37px;
            margin-bottom: 10px;
        }
    }
}

// XL SCREEN
@media (min-width: 1851px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    margin-bottom: 10px;
                    font-size: 36px;
                    line-height: 44px;
                }

                input,
                textarea {
                    margin: 10px 0;

                    &::placeholder {
                        font-size: 30px;
                        line-height: 37px;
                        padding: 0 44px;
                    }
                }

                input {
                    width: 670px;
                    height: 70px;
                    padding-top: 10px;
                }

                textarea {
                    width: 1401px;
                    height: 257px;
                    padding-top: 25px;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 60px;
            width: 180px;
            height: 99px;
            font-size: 30px;
            line-height: 37px;
            margin-bottom: 10px;
        }
    }
}
