.contact-form {
    display: flex;
    justify-content: space-between;

    &-container {
        .form-line {
            display: flex;
            justify-content: space-between;

            .input-holder {
                display: flex;
                flex-direction: column;
            }

            label {
                color: $textcolor2;
                font-weight: 500;
            }

            input,
            textarea {
                background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
                background-blend-mode: soft-light, normal;
                border: 1px solid rgba(255, 255, 255, 0.4);
                box-sizing: border-box;
                box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd;
                border-radius: 47px;
                resize: none;

                &::placeholder {
                    color: $textcolor2;
                }
            }
        }
    }
}

.contact-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    button {
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #8a92a5;
        background-blend-mode: soft-light, normal;
        box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
        border-radius: 13px;
        color: white;
        border: none;
        text-align: center;
        font-weight: 600;
        position: relative;
    }
}

#right2 {
    .next-button {
        display: none;
    }
}

// XS SCREEN
@media (min-width: 1000px) and (max-width: 1110px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    margin-bottom: 10px;
                    font-size: 36px;
                    line-height: 44px;
                }

                input,
                textarea {
                    margin: 10px 0;

                    &::placeholder {
                        font-size: 30px;
                        line-height: 37px;
                        padding: 0 44px;
                    }
                }

                input {
                    width: 670px;
                    height: 70px;
                    padding-top: 10px;
                }

                textarea {
                    width: 1401px;
                    height: 257px;
                    padding-top: 25px;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 60px;
            width: 180px;
            height: 99px;
            font-size: 30px;
            line-height: 37px;
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 1111px) and (max-width: 1330px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    margin-bottom: 10px;
                    font-size: 36px;
                    line-height: 44px;
                }

                input,
                textarea {
                    margin: 10px 0;

                    &::placeholder {
                        font-size: 30px;
                        line-height: 37px;
                        padding: 0 44px;
                    }
                }

                input {
                    width: 670px;
                    height: 70px;
                    padding-top: 10px;
                }

                textarea {
                    width: 1401px;
                    height: 257px;
                    padding-top: 25px;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 60px;
            width: 180px;
            height: 99px;
            font-size: 30px;
            line-height: 37px;
            margin-bottom: 10px;
        }
    }
}

// S SCREEN
@media (min-width: 1330px) and (max-width: 1440px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    margin-bottom: 10px;
                    font-size: 36px;
                    line-height: 44px;
                }

                input,
                textarea {
                    margin: 10px 0;

                    &::placeholder {
                        font-size: 30px;
                        line-height: 37px;
                        padding: 0 44px;
                    }
                }

                input {
                    width: 670px;
                    height: 70px;
                    padding-top: 10px;
                }

                textarea {
                    width: 1401px;
                    height: 257px;
                    padding-top: 25px;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 60px;
            width: 180px;
            height: 99px;
            font-size: 30px;
            line-height: 37px;
            margin-bottom: 10px;
        }
    }
}

// M SCREEN
@media (min-width: 1441px) and (max-width: 1650px) {
    .contact-form {
        &-container {
            margin-left: 70px;

            .form-line {
                label {
                    margin-bottom: 10px;
                    font-size: 32px;
                    line-height: 40px;
                }

                input,
                textarea {
                    margin: 10px 0;

                    &::placeholder {
                        font-size: 25px;
                        line-height: 30px;
                        padding: 0 44px;
                    }
                }

                input {
                    width: 520px;
                    height: 55px;
                    padding-top: 10px;
                }

                textarea {
                    width: 1100px;
                    height: 247px;
                    padding-top: 25px;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 35px;
            width: 120px;
            height: 60px;
            font-size: 22px;
            line-height: 25px;
            margin-bottom: 10px;
        }
    }
}

// L SCREEN
@media (min-width: 1650px) and (max-width: 1920px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    margin-bottom: 10px;
                    font-size: 36px;
                    line-height: 44px;
                }

                input,
                textarea {
                    margin: 10px 0;

                    &::placeholder {
                        font-size: 30px;
                        line-height: 37px;
                        padding: 0 44px;
                    }
                }

                input {
                    width: 560px;
                    height: 60px;
                    padding-top: 10px;
                }

                textarea {
                    width: 1200px;
                    height: 247px;
                    padding-top: 25px;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 60px;
            width: 180px;
            height: 99px;
            font-size: 30px;
            line-height: 37px;
            margin-bottom: 10px;
        }
    }
}

// XL SCREEN
@media (min-width: 1920px) {
    .contact-form {
        &-container {
            .form-line {
                label {
                    margin-bottom: 10px;
                    font-size: 36px;
                    line-height: 44px;
                }

                input,
                textarea {
                    margin: 10px 0;

                    &::placeholder {
                        font-size: 30px;
                        line-height: 37px;
                        padding: 0 44px;
                    }
                }

                input {
                    width: 670px;
                    height: 70px;
                    padding-top: 10px;
                }

                textarea {
                    width: 1401px;
                    height: 257px;
                    padding-top: 25px;
                }
            }
        }
    }

    .contact-button {
        button {
            left: 60px;
            width: 180px;
            height: 99px;
            font-size: 30px;
            line-height: 37px;
            margin-bottom: 10px;
        }
    }
}
