#contacts {
    height: 100%;

    .main-section {
        height: 100%;

        .center-content {
            overflow: visible;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .left-items {
            margin: auto 2.5vw auto 4.5vw !important;

            img {
                height: unset;
            }
        }
    }

    .contacts-holder {
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contact-info {
            width: 28%;

            .contact-item {
                display: flex;
                align-items: flex-start;
                margin: 15% 0;

                img {
                    width: 1.2vw;
                    height: 1.2vw;
                }

                p {
                    font-size: 1vw;
                    margin: 0 1vw;
                    color: $textcolor3;
                }
            }
        }

        .contact-form {
            width: 72%;
            height: max-content;

            &-container {
                width: 100%;

                .form-line {
                    height: unset;
                }

                label{
                    font-size: 1.5vw;
                }
            }

            .contact-button {
                width: 15%;
                left: 2%;
            }
        }
    }
}

@media (min-width: 1920px) {
    #contacts {
        .contact-button {
            width: 18% !important;
        }
    }
}
