#customers-page {
    margin-top: 5%;

    .left-items {
        margin-top: auto !important;
    }

    .customers {
        display: flex;

        .map-container {
            img {
                width: 53.5vw;
            }
        }

        .companies-list {
            margin: 0 9% 0 7%;
            width: 20%;
            overflow-y: scroll;

            /* width */
            &::-webkit-scrollbar {
                width: 0.5vw;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 2vw;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $textcolor1;
                border-radius: 2vw;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: $textcolor3;
            }

            .company-item {
                display: flex;
                align-items: center;
                height: 19%;
                width: 100%;
                margin: 0 0 2% 0;
                cursor: pointer;

                img,
                svg {
                    width: 3.2vw;
                    margin: 0 0.8vw;
                }

                svg {
                    height: 3.2vw;
                }

                h6 {
                    font-weight: 500;
                    color: $textcolor2;
                    margin: 0;
                    font-size: 1.2vw;
                }

                &:hover {
                    background-color: rgba(174, 176, 179, 0.185);
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    #customers-page {
        .customers {
            .companies-list {
                margin: 0 0 0 4%;
            }
        }
    }
}
