#customers-page {
    margin-top: 7%;

    .left-items {
        margin-top: auto !important;
    }

    .customers {
        display: flex;

        .map-container {
            img {
                width: 53.5vw;
            }
        }

        .companies-list {
            margin: 0 12% 0 7%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .company-item {
                display: flex;
                align-items: center;

                img {
                    width: 3.13vw;
                    margin: 0 1.045vw;
                }

                h6 {
                    font-weight: 500;
                    color: $textcolor2;
                    margin: 0;
                    font-size: 1.24vw;
                }
            }
        }
    }
}
