.widgets-row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    .widget {
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
        background-blend-mode: soft-light, normal;
        box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
        border-radius: 47px;

        &-data {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        &-text {
            text-align: center;

            p {
                color: $textcolor3;
                margin: 0;
            }
        }

        &-logo {
            img {
                &:hover {
                    svg {
                        path {
                            fill: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), #1654f0;
                        }
                    }
                }
            }
        }
    }
}

// XS SCREEN
@media (min-width: 1000px) and (max-width: 1110px) {
    .widgets-row {
        .widget {
            width: 260px;
            height: 220px;
            margin: 0 17px;

            &-data {
                padding: 35px 20px 20px 20px;
            }

            &-logo {
                img {
                    width: 90px;
                    height: 111px;
                }
            }

            &-text {
                // margin-top: 10px 0;

                p {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}

// S SCREEN
@media (min-width: 1111px) and (max-width: 1415px) {
    .widgets-row {
        .widget {
            width: 320px;
            height: 250px;
            margin: 0 25px;

            &-data {
                padding: 10px 15px 10px 15px;
            }

            &-logo {
                img {
                    width: 110px;
                    height: 131px;
                }
            }

            &-text {
                margin-top: 5px;

                p {
                    font-size: 20px;
                    line-height: 26px;
                }
            }
        }
    }
}

// M SCREEN
@media (min-width: 1416px) and (max-width: 1570px) {
    .widgets-row {
        .widget {
            width: 370px;
            height: 280px;
            margin: 0 20px;

            &-data {
                padding: 20px 25px 20px 25px;
            }

            &-logo {
                img {
                    width: 130px;
                    height: 151px;
                }
            }

            &-text {
                margin-top: 8px;
                padding: 0 20px;

                p {
                    font-size: 20px;
                    line-height: 26px;
                }
            }
        }
    }
}

// L SCREEN
@media (min-width: 1571px) and (max-width: 1720px) {
    .widgets-row {
        .widget {
            width: 400px;
            height: 310px;
            margin: 0 25px;

            &-data {
                padding: 40px 45px 30px 45px;
            }

            &-logo {
                img {
                    width: 145px;
                    height: 170px;
                }
            }

            &-text {
                margin: 20px 0;

                p {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
    }
}

// XL SCREEN
@media (min-width: 1721px) {
    .widgets-row {
        .widget {
            width: 430px;
            height: 340px;
            margin: 0 30px;

            &-data {
                padding: 40px 45px 30px 45px;
            }

            &-logo {
                img {
                    width: 145px;
                    height: 170px;
                }
            }

            &-text {
                margin: 20px 0;

                p {
                    font-size: 26px;
                    line-height: 32px;
                }
            }
        }
    }
}
