.widgets-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .widget {
        display: flex;
        cursor: pointer;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
        background-blend-mode: soft-light, normal;
        box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
        border-radius: 2vw;
        width: 28.07%;
        height: 34vh;
        margin-right: 5.159%;

        &-data {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            // margin: 3vh 2.35vw 2.9vh 2.35vw;
            margin: 4.7vh 2.35vw 2.9vh 2.35vw;
        }

        &-text {
            text-align: center;
            margin-top: 1.86vh;

            p {
                color: $textcolor3;
                margin: 0;
                font-size: 1.35vw;
            }
        }

        &-logo {
            svg,
            img {
                path {
                    fill: $textcolor3;
                }

                width: 7.917vw;
                height: 15.75vh;
                filter: saturate(0);
            }
        }

        &:hover {
            .widget-logo {
                svg {
                    path {
                        // fill: $hover-color;
                        fill: black;
                    }
                }

                img {
                    filter: saturate(100%);
                    transition: 0.3s;
                }
            }
        }
    }
}

@media (max-width: 1000px), (min-width: 1920px) {
    .widgets-row {
        .widget {
            height: 17.71vw !important;

            &-data {
                margin: 2.6vw 2.35vw 1.3vw 2.35vw;
                // margin: 1.5vw 2.35vw 1.3vw 2.35vw;
            }

            &-logo {
                svg {
                    height: 8.855vw !important;
                }
            }

            &-text {
                margin-top: 1.045vw;
            }
        }
    }
}
