#news {
    padding: 1% 0 0 0;

    .left-items {
        img {
            height: unset !important;
        }
    }

    .right-items{
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    .news-slider {
        .news-img {
            height: 50%;
            overflow: hidden;

            img {
                position: relative;
                bottom: 25%;
            }
        }

        .news-info {
            h6 {
                margin-bottom: 5% !important;
            }
        }

        .slider-buttons {
            margin-top: -3.5% !important;
        }
    }

    .center-content {
        overflow: hidden;
    }

    .arrow-button {
        margin: auto 0 !important;
    }

    .news-container {
        // padding: 1% 0 0 0;

        .main-heading {
            margin: 0 0 1% 0;
        }

        .news-data {
            display: flex;
            justify-content: space-between;

            img {
                width: 23%;
                height: 24vh;
            }

            .news-text {
                width: 74%;
                height: 11.6vw;
                overflow-y: auto;

                p {
                    margin-bottom: 0;
                    margin-top: 0.5%;
                    font-weight: 500;
                    color: $textcolor1;
                    font-size: 0.82vw;
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    #news {
        padding: 2% 0 0 0 !important;

        .news-container {
            padding: 1.5% 0 0 0 !important;

            .news-data {
                img {
                    width: 27%;
                    height: unset !important;
                }

                .news-text {
                    width: 70%;
                }
            }
        }
    }
}
