.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .product {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21vw;
        height: 24.23vh;
        margin: 3.7vh 1.05vw 0 1.05vw;
        border-radius: 2vw;

        h6 {
            text-align: center;
            font-weight: 500;
            color: $textcolor3;
            padding: 0 2.2vw;
            font-size: 1.4vw;
        }
    }
}

#products,
#product-page {
    margin: auto 0 !important;

    .center-content {
        overflow: visible !important;
    }

    .main-section {
        margin: 2.5vw 0;
    }

    .left-items {
        img {
            height: unset;
        }
    }

    .next-button {
        margin-top: auto;
        display: flex !important;
        margin-bottom: unset !important;
    }
}

@media (max-width: 1000px), (min-width: 1920px) {
    #products {
        .main-section {
            margin: 3vw 0 !important;
        }
    }

    .products {
        .product {
            height: 12.5vw !important;
            margin: 2.08vw 1.05vw 0 1.05vw !important;
        }
    }
}
