.products {
    margin: 0 7%;

    .product {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21vw !important;
        height: 24.23vh;
        margin: 1.5rem 2rem !important;
        border-radius: 2vw;

        h6 {
            text-align: center;
            font-weight: 500;
            color: $textcolor3;
            padding: 0 2.2vw;
            font-size: 1.4vw;
        }
    }
}

#products,
#product-page {
    .main-section {
        margin: 2.5vw 0;
    }

    .left-items {
        img {
            height: unset;
        }
    }

    .arrow-button {
        margin-top: auto;
        display: flex !important;
        margin-bottom: unset !important;
    }
}

#products {
    .center-content {
        padding: 3rem 1rem;
        width: 78% !important;
        overflow-x: hidden;
        margin: 0 auto !important;
    }

    .swiper-container-multirow-column > .swiper-wrapper {
        max-height: 410px;
        max-width: 1597px;
    }

    .swiper-container {
        overflow: visible !important;
        height: 100% !important;
        margin: 0 1%;
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal > .swiper-pagination-bullets {
        left: 20% !important;
        top: 82% !important;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev,
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        top: 74% !important;
    }
}

@media (max-width: 1000px), (min-width: 1920px) {
    #products {
        .main-section {
            margin: 3vw 0 !important;
        }
    }

    .products {
        .product {
            height: 12.5vw !important;
            margin: 2.08vw 1.05vw 0 1.05vw !important;
        }
    }
}
