.product-container {
    .product-content {
        display: flex;
        justify-content: space-between;
        margin-top: 4vh;

        .product-img {
            img {
                width: 24.9vw;
            }
        }

        .product-text {
            font-weight: 500;
            color: #8a92a5;
            margin: 0 0 0 2.084vw;
            height: 24vw;
            width: 60%;
            overflow-y: auto;

            p,
            h6,
            li {
                font-size: 0.9vw;
            }

            p {
                margin: 0;
            }

            h6 {
                margin: 1.5vh 0;
                font-weight: bold;
            }
        }
    }
}
