#reviews {
    padding: 2vh 0 0 0;

    .left-items {
        img {
            height: unset;
        }
    }

    .right-items {
        // margin-bottom: 2vw !important;
        flex-direction: unset !important;
    }

    .reviews {
        padding-right: 10vw;

        .review {
            display: flex;
            margin: 2% 0;

            &-quote {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                margin: 0 2%;

                .square-button {
                    img {
                        width: 1.355vw;
                    }
                }
            }

            &-content {
                .review-user-info {
                    display: flex;
                    align-items: center;
                    color: $textcolor2;

                    .user-info-img {
                        img {
                            height: 3.3335vw;
                        }
                    }

                    .user-info-data {
                        margin-left: 2%;

                        h2,
                        h6 {
                            margin: 0;
                        }

                        h2 {
                            font-weight: 700;
                            font-size: 1.05vw;
                        }

                        h6 {
                            font-weight: 500;
                            font-size: 0.85vw;
                        }
                    }
                }

                .review-text {
                    height: 5.6vw;
                    overflow-y: auto;

                    /* width */
                    &::-webkit-scrollbar {
                        width: 0.5vw;
                    }

                    /* Track */
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1;
                        border-radius: 2vw;
                    }

                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: $textcolor1;
                        border-radius: 2vw;
                    }

                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: $textcolor3;
                    }

                    p {
                        color: $textcolor1;
                        font-weight: 500;
                        font-size: 0.8vw;
                        margin: 1% 0 0 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    #reviews {
        padding: 3vh 0 0 0;

        .reviews {
            padding-right: 4vw;
            .review {
                display: flex;
                margin: 2% 0;
            }
        }
    }
}
