// Light
@font-face {
    font-family: "Montserrat", sans-serif;
    src: url('../../fonts/Montserrat-Light.otf');
    font-weight: 300;
}

// Regular
@font-face {
    font-family: "Montserrat", sans-serif;
    src: url('../../fonts/Montserrat-Regular.otf');
    font-weight: 400;
}

// Medium
@font-face {
    font-family: "Montserrat", sans-serif;
    src: url('../../fonts/Montserrat-Medium.otf');
    font-weight: 500 !important;
}

// Semi-bold
@font-face {
    font-family: "Montserrat", sans-serif;
    src: url('../../fonts/Montserrat-SemiBold.otf');
    font-weight: 600;
}

// Bold
@font-face {
    font-family: "Montserrat", sans-serif;
    src: url('../../fonts/Montserrat-Bold.otf');
    font-weight: 700;
}