* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ebecf0;
    margin: 0;
}

a {
    text-decoration: none;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

@media (max-width: 1440px) {
    body {
        padding: 20px 20px 10px 20px;
    }
}

@media (min-width: 1441px) {
    body {
        padding: 30px 40px 20px 40px;
    }
}

@media (min-width: 1800px) {
    body {
        padding: 50px 60px 40px 60px;
    }
}

@media (min-width: 1920px) {
    body {
        display: flex;
        justify-content: center;

        #root {
            background-blend-mode: soft-light, normal;
            box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
            padding: 50px 60px 50px 60px;
            width: 1920px !important;
            border-radius: 47px;
        }
    }
}

///////////////  Variables ///////////////

$textcolor1: #8a92a5; //primary
$textcolor2: #6d7587; //secondary
$textcolor3: #4d545e;
$gradient: linear-gradient(239.57deg, #37dbe0 20.53%, #1758f1 79.85%);
