* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ebecf0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

div {
    outline: none;
}

#root {
    height: 100%;
}

.page-holder {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4.7vh 3.125vw 1vh 3.125vw;
}

@media screen and (min-width: 1920px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;

        #root {
            background-blend-mode: soft-light, normal;
            box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
            border-radius: 2vw;
            // width: 1920px !important;
            // height: 1080px !important;
            height: 51vw;
            width: 90%;
            overflow: hidden;

            .page-holder {
                padding: 2.61vw 3.125vw 1.1vw 3.125vw !important;
            }
        }
    }
}

@media screen and (min-width: 2560px) {
    #root {
        height: 55vw;
    }
}

///////////////  Variables  ///////////////

$textcolor1: #8a92a5; //primary
$textcolor2: #6d7587; //secondary
$textcolor3: #4d545e;
$text-hover: #1654f0;
$gradient: linear-gradient(239.57deg, #37dbe0 20.53%, #1758f1 79.85%); //navbar
$forum-red: #e55d5d;
$forum-green: #32b72e;

///////////////  Input effects  ///////////////

.form-input {
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd;
    border-radius: 2vw;
    resize: none;
    outline: none;

    &::placeholder {
        color: $textcolor2;
    }

    &:not(:focus),
    &:focus {
        color: $textcolor2;
        font-size: inherit;
    }

    &:focus {
        &::placeholder {
            color: transparent;
        }
    }
}
