* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f7f7fc !important;
    margin: 0;
    overflow-x: hidden;
}

.App {
    height: 100vh;
}

#layout {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 100vh;

    .main-content {
        // height: 100%;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        display: flex;
    }
}

.dashboard {
    height: 100%;
    overflow-y: auto;
}

a {
    text-decoration: none !important;
}

// Variables
$btn-color: #3b7ddd;

// Buttons
.add-button {
    background-color: $btn-color;
    border-radius: 0.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 1.2vw;
}
