footer {
    width: 100%;
    color: $textcolor2;

    .footer-content {
        width: 68%;
        margin: 0 auto 0 7%;

        p {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
        }

        .footer-row {
            display: flex;
            margin: 40px 0;
        }

        .upper-row {
            justify-content: space-between;

            .footer-icons {
                width: 22px;
                height: 22px;
            }

            .footer-col {
                display: flex;

                .footer-text {
                    display: flex;
                    flex-direction: column;
                    margin: 0 25px;
                }
            }
        }

        .lower-row {
            display: flex;
            align-items: center;

            img {
                height: 14px;
                width: 14px;
            }
        }

        ///////// SCREEN XL-size

        @media screen and (min-width: 1999px) {
            p {
                font-size: 20px;
            }
            
            .footer-row {
                margin: 50px 0;
            }
    
            .upper-row {    
                .footer-icons {
                    width: 30px;
                    height: 30px;
                }
    
                .footer-col {
                    .footer-text {
                        margin: 0 25px;
                    }
                }
            }
        }
    }
}
