* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #ebecf0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.App {
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
    background-blend-mode: soft-light, normal;
    box-shadow: -10px -10px 20px #fafbff, 10px 10px 20px #a6abbd;
    border-radius: 46px;
    margin: 25px 0;
}

@media (min-width: 2000px) {
    .App {
        width: 1920px;
        height: 1890px;
    }
}

@media (max-width: 1700px) {
    .App {
        width: 1370px;
        height: 1250px;
    }
}

a {
    text-decoration: none;
}

ul {
    li {
        list-style-type: none;
    }
}

///////////////  Variables ///////////////

$textcolor1: #8a92a5; //primary
$textcolor2: #6d7587; //secondary
$gradient: linear-gradient(239.57deg, #37dbe0 20.53%, #1758f1 79.85%);
